<div class="container-fluid">
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông Báo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <!--<button (click)="getTaskList()" type="button" class="btn btn-primary">Thử lại</button>-->
          <button
            (click)="openNewFileCabinet()"
            type="button"
            class="btn btn-primary"
          >
            Thử lại
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/personal/event">Lịch Cá Nhân</a>
            </li>
            <li class="breadcrumb-item">Hồ Sơ Cá Nhân</li>
          </ol>
        </div>
        <h4 class="page-title">Hồ Sơ Cá Nhân</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="row">
            <div class="col-xl-9 col-md-12">
              <div class="rowFile">
                <span class="content">qqqqq </span>
                <span class="sub_content">
                  ( <i class="fa-solid fa-user"></i> Người tạo Quản trị hệ
                  thống, 11 giờ trước lúc 23:46, Lượt xem 0 )</span
                >
              </div>
              <div class="rowFile">
                <span class="content">qqqqq </span>
                <span class="sub_content">
                  ( <i class="fa-solid fa-user"></i> Người tạo Quản trị hệ
                  thống, 11 giờ trước lúc 23:46, Lượt xem 0 )</span
                >
              </div>
              <div class="rowFile">
                <span class="content">qqqqq </span>
                <span class="sub_content">
                  ( <i class="fa-solid fa-user"></i> Người tạo Quản trị hệ
                  thống, 11 giờ trước lúc 23:46, Lượt xem 0 )</span
                >
              </div>
            </div>
            <div class="col-xl-3 col-md-12">
              <div>
                <abbr style="cursor: pointer" [title]="getLabel('newBtn')">
                  <input
                    (click)="openNewFileCabinet()"
                    type="submit"
                    name="ctl25$DangKy"
                    value="{{ getLabel('newFile') }}"
                    id="ctl25_DangKy"
                    class="btn btn-primary btn-block"
                    style="width: 100%; background-color: #395bb2"
                  />
                </abbr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <div class="page-title-box">
                <h4 class="page-title">{{ getLabel("pageTitle2") }}</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div class="rowFile">
                <i class="fa-solid fa-check"></i>
                <span class="content">
                  <a
                    [routerLink]="['/personal/file-cabinet/', 001]"
                    style="text-decoration: none"
                    >qqqqq</a
                  >
                </span>
                <span class="sub_content">
                  ( Người tạo Quản trị hệ thống, 11 giờ trước lúc 23:46, Lượt
                  xem 0 )</span
                >
              </div>
              <div class="rowFile">
                <i class="fa-solid fa-check"></i>
                <span class="content">qqqqq </span>
                <span class="sub_content">
                  ( Người tạo Quản trị hệ thống, 11 giờ trước lúc 23:46, Lượt
                  xem 0 )</span
                >
              </div>
              <div class="rowFile">
                <i class="fa-solid fa-check"></i>
                <span class="content">qqqqq </span>
                <span class="sub_content">
                  ( Người tạo Quản trị hệ thống, 11 giờ trước lúc 23:46, Lượt
                  xem 0 )</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
