<div class="container-fluid">
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông Báo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <!--<button (click)="getTaskList()" type="button" class="btn btn-primary">Thử lại</button>-->
          <button
            (click)="openNewFileCabinet()"
            type="button"
            class="btn btn-primary"
          >
            Thử lại
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/personal/event">Lịch Cá Nhân</a>
            </li>
            <li class="breadcrumb-item">Hồ Sơ Cá Nhân</li>
          </ol>
        </div>
        <h4 class="page-title">Hồ Sơ Cá Nhân</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="row">
            <div class="col-xl-9 col-md-12">
              <div
                class="rowFile"
                *ngFor="
                  let i of fileCabinetList | paginate : (config ? config : '')
                "
              >
                <span
                  class="content hover"
                  style="min-width: 50%; cursor: pointer"
                  (click)="seeDetail(i.idhoso)"
                  >{{ i.tenHoSo }}
                </span>
                <span class="sub_content">
                  (
                  <i
                    class="fa-solid fa-user-plus"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Người tạo"
                  ></i>
                  Người tạo {{ i.nguoiTao.hoTen }},
                  {{ layThoiGianChenhLech(i.ngayNhap) }}
                  , lúc
                  {{ i.ngayNhap | slice : 11 : 16 }} ngày
                  {{ i.ngayNhap | slice : 0 : 10 | date : "dd-MM-yyyy" }},
                  <i
                    class="fa-solid fa-eye"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Lượt xem"
                  ></i>
                  Lượt xem {{ i.lanXem }} )</span
                >
              </div>
              <div class="list row">
                <div class="col-md-9">
                  <pagination-controls
                    id="paging"
                    [previousLabel]="'Quay lại'"
                    [nextLabel]="'Tiếp tục'"
                    responsive="true"
                    responsive="true"
                    (pageChange)="handlePageChange($event)"
                  ></pagination-controls>
                </div>
                <div class="col-md-3">
                  Số lượng thư mục
                  <select
                    style="border: solid 1px rgb(230, 229, 229)"
                    (change)="handlePageSizeChange($event)"
                  >
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-12">
              <div>
                <abbr style="cursor: pointer" [title]="getLabel('newBtn')">
                  <input
                    (click)="openNewFileCabinet()"
                    type="submit"
                    name="ctl25$DangKy"
                    value="{{ getLabel('newFile') }}"
                    id="ctl25_DangKy"
                    class="btn btn-primary btn-block"
                    style="width: 100%; background-color: #395bb2"
                  />
                </abbr>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <div class="page-title-box">
                <h4 class="page-title">{{ getLabel("pageTitle2") }}</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-md-12">
              <div
                class="rowFile"
                *ngFor="
                  let item of fileCabinetListShare
                    | paginate : (configShare ? configShare : '')
                "
              >
                <i class="fa-solid fa-clipboard-check"></i>
                <span
                  class="content hover"
                  style="min-width: 50%; cursor: pointer"
                  (click)="seeDetail(item.idhoso)"
                >
                  {{ item.tenHoSo }}
                </span>
                <span class="sub_content">
                  (
                  <i
                    class="fa-solid fa-user-plus"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Người tạo"
                  ></i>
                  Người tạo {{ item.nguoiTao.hoTen }},
                  {{ layThoiGianChenhLech(item.ngayNhap) }}
                  , lúc
                  {{ item.ngayNhap | slice : 11 : 16 }} ngày
                  {{ item.ngayNhap | slice : 0 : 10 | date : "dd-MM-yyyy" }},
                  <i
                    class="fa-solid fa-eye"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Lượt xem"
                  ></i>
                  Lượt xem {{ item.lanXem }} )</span
                >
              </div>
              <div class="list row">
                <div class="col-md-9">
                  <pagination-controls
                    id="paging2"
                    [previousLabel]="'Quay lại'"
                    [nextLabel]="'Tiếp tục'"
                    responsive="true"
                    responsive="true"
                    (pageChange)="handlePageChangeShare($event)"
                  ></pagination-controls>
                </div>
                <div class="col-md-3">
                  Số lượng thư mục
                  <select
                    style="border: solid 1px rgb(230, 229, 229)"
                    (change)="handlePageSizeChange($event)"
                  >
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
