<div class="container-fluid">
    <ngx-loading [show]="spinnerLoading"
        [config]="{ primaryColour: 'whitesmoke', backdropBorderRadius: '3px', fullScreenBackdrop: true }"></ngx-loading>
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">{{getLabel("pageTitle")}}</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <app-task-title [chude]="taskDetail.chude" [mscv]="taskDetail.mscv" [EditEnable]="isCreateBy"
            (reloadData)="getTaskDetail()"></app-task-title>
        <div *ngIf="taskDetail.rating">
            <app-ratings [ratings]="taskDetail.rating" [type]="'TASK'" [enable]="isCreateBy"></app-ratings>
        </div>
    </div>
    <!-- end page title -->
    <div class="row text-dark">
        <div class="col-md-8 col-12 d-flex flex-column gap-1">
            <div class="row col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#comment-modal">Phản hồi</button>
                            <button type="button" class="btn btn-primary" *ngIf="!taskDetail.quantam"
                                (click)="follow()">Quan tâm</button>
                            <button type="button" class="btn btn-primary" (click)="unfollow()"
                                *ngIf="taskDetail.quantam">Bỏ Quan tâm</button>
                            <button type="button" class="btn btn-primary" *ngIf="isCreateBy">
                                Đánh giá
                            </button>
                            <div class="dropdown text-dark" *ngIf="taskDetail.tinhTrang !='1'">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Chưa đặt tên
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" *ngIf="isCreateBy && taskDetail.tinhTrang != '1'"
                                            (click)="finishATask()">Kết thúc</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" data-bs-toggle="modal"
                                            data-bs-target="#task-checking-model" (click)="checkingType = 'CHECKED'"
                                            *ngIf="isAssigner && !isCreateBy && taskDetail.tinhTrang != '1'">Đã xử
                                            lý</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" data-bs-toggle="modal"
                                            data-bs-target="#task-checking-model" (click)="checkingType = 'REQUEST'"
                                            *ngIf="isMajorAssigner && taskDetail.tinhTrang != '2'">
                                            Đề xuất kết thúc
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown text-dark">
                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    ...
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item pointer" data-bs-toggle="modal"
                                            data-bs-target="#task-setting-model" *ngIf="isCreateBy"
                                            (click)="TaskUserManager('VIEWER')">
                                            Thêm người xem
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" data-bs-toggle="modal"
                                            data-bs-target="#task-setting-model"
                                            (click)="TaskUserManager('PARTICIPANT')" *ngIf="isCreateBy">
                                            Thêm người tham gia
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" (click)="TaskDelete()" *ngIf="isCreateBy">
                                            Xóa công việc này
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" (click)="StopNotification()"
                                            *ngIf="!taskDetail.khongNhacMoi">
                                            Không nhắc mới</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" (click)="EnableNotification()"
                                            *ngIf="taskDetail.khongNhacMoi">
                                            Nhắc mới
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item pointer" href="#">
                                            Tạo công việc con
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-12">
                <app-expand-card [title]="'Chi tiết'" [cardname]="'chitiet'">
                    <div class="ms-3">
                        <div class="row">
                            <div class="col-3">
                                Trạng thái:
                            </div>
                            <div class="col-8">
                                {{taskDetail.tinhTrang=="0"?"Đang thực hiện"
                                :taskDetail.tinhTrang == "1"?"Kết thúc":"Đề xuất kết thúc"}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Thuộc nhóm:
                            </div>
                            <div class="col-8">
                                Tên nhóm công việc
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Dự án:
                            </div>
                            <div class="col-8" *ngIf="taskDetail.duAn">
                                {{taskDetail.duAn }}
                            </div>
                            <div class="col-8" *ngIf="taskDetail.duAn==null">
                                Công việc này không thuộc dự án nào
                            </div>
                        </div>
                    </div>
                </app-expand-card>
            </div>
            <div class="row col-12">
                <app-expand-card [title]="'Nội dung'" [cardname]="'noidung'">
                    <div class="ms-3" [innerHTML]="taskDetail.noidung"></div>
                </app-expand-card>
            </div>
            <div class="row col-12">
                <app-expand-card [title]="'Tệp tin đính kèm'" [cardname]="'teptin'">
                    <app-files [Folder]="'CongViec'" [IdContent]="taskID"></app-files>
                </app-expand-card>
            </div>
            <div class="row col-12">
                <app-expand-card [cardname]="'vanban'" [title]="'Văn bản đính kèm'">
                   <app-files [Folder]="'CongViec'" [IdContent]="taskID"></app-files>
                </app-expand-card>
            </div>

            <app-task-history *ngIf="taskDetail" [mscv]="taskDetail.mscv" (reloadData)="getTaskDetail()"
                [dsNhatKy]="taskDetail.nhatKyCongViec"></app-task-history>

            <app-task-targets></app-task-targets>
        </div>
        <div class="col-md-4 col-12">
            <app-task-users [dsThamGia]="taskDetail.danhSachNguoiXuLy" [nguoiXuLy]="taskDetail.nguoiChinh"
                [nguoiTao]="taskDetail.nguoiTao" [dsDuocXem]="taskDetail.danhSachNguoiDuocXem"
                [ratingEnable]="isCreateBy" [tinhTrang]="taskDetail.tinhTrang"></app-task-users>
            <app-task-duedate [batdau]="taskDetail.ngayBatDau" [hoanthanh]="taskDetail.ngayKetThuc"
                (reloadData)="getTaskDetail()" [mscv]="taskDetail.mscv" [EditEnable]="isCreateBy"></app-task-duedate>
        </div>
    </div>
</div>
<app-task-checking [mscv]="taskDetail.mscv" [checkType]="checkingType" (reloadData)="getTaskDetail()"
    (showMessage)="showMessage($event)"></app-task-checking>
<div id="task-setting-model" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Quản lý người dùng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="taskDetail">
                    <app-dual-list (updateLists)="dualListUpdateForViewer($event)" [leftList]="DanhSach"
                        [rightList]="DanhSachDuocChon"></app-dual-list>
                    <div class="form-floating my-1 w-50 ms-3" *ngIf="ManagerType == 'PARTICIPANT'">
                        <select class="form-select" id="floatingSelect" [(ngModel)]="NguoiChinh"
                            aria-label="Floating label select example">
                            <option [value]="i.userId" *ngFor="let i of DanhSachDuocChon">{{i.fullName}}</option>
                        </select>
                        <label for="floatingSelect">Chọn người thực hiện chính</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="TaskUserManagerSaveChange()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>