<div class="container-fluid">
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/personal/event">Lịch Cá Nhân</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/personal/file-cabinet">Tủ Hồ Sơ</a>
            </li>
            <li class="breadcrumb-item">Thêm Hồ Sơ Cá Nhân</li>
          </ol>
        </div>
        <h4 class="page-title">Thêm Hồ Sơ Cá Nhân</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <aw-wizard>
            <aw-wizard-step stepTitle="Hồ sơ">
              <div class="container">
                <div class="row">
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label ipt"
                      >{{ getLabel("nameCol")
                      }}<span class="requiredField"></span
                    ></label>
                    <textarea
                      [(ngModel)]="newfileCabinetData.title"
                      class="form-control"
                      id="example-textarea"
                      rows="1"
                    ></textarea>
                  </div>

                  <div class="mb-3">
                    <label for="example-fileinput" class="form-label">{{
                      getLabel("addFile")
                    }}</label>
                    <app-dropzone></app-dropzone>
                  </div>
                </div>
              </div>
              <div class="btn_list">
                <button type="button" (click)="check()" class="btn btn-primary">
                  Next Step
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="{{ getLabel('relatedList') }}">
              <div class="card">
                <div class="card-body">
                  <div style="margin: 0 10px 30px 30px">
                    <label class="form-label" for="groupOfAssignee">
                      {{ getLabel("selectList") }}
                    </label>
                    <select
                      style="width: 50%"
                      [(ngModel)]="groupKeyChosenInStep2"
                      class="form-select"
                      id="groupOfAssignee"
                      (change)="onChange($event.target.value)"
                    >
                      <option value="all" selected>
                        {{ getLabel("allStaff") }}
                      </option>
                      <option
                        *ngFor="let groupKey of generalService.allUserGroupsKey"
                        value="{{ groupKey }}"
                      >
                        {{ groupKey }}
                      </option>
                    </select>
                  </div>

                  <app-dual-list
                    (updateLists)="dualListUpdateForAssignee($event)"
                    [leftList]="allUserInStep2List"
                    [rightList]="chosenAssigneelList"
                  ></app-dual-list>
                  <!-- <div style="margin: 0 10px 30px 30px;">
                                <label class="form-label" for="majorAssignee"><span style="color: tomato;">(*)</span>
                                    {{getLabel('mainHandler')}} </label>
                                <select style="width: 50%;" [(ngModel)]="majorAssignee" class="form-select" id="majorAssignee">
                                    <option selected>Chọn...</option>
                                    <option [ngValue]="assignee" *ngFor="let assignee of chosenAssigneelList">
                                        {{assignee.fullName}}</option>
                                </select>
                            </div> -->
                </div>
              </div>
              <div class="btn_list">
                <button type="button" class="btn btn-warning" awPreviousStep>
                  {{ getLabel("previousStep") }}
                </button>
                <button type="button" class="btn btn-success">
                  {{ getLabel("finishCol") }}
                </button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
