<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/document/all-text">Văn Bản</a>
            </li>
            <li class="breadcrumb-item">Danh Sách Văn Bản</li>
          </ol>
        </div>
        <h4 class="page-title">Danh Sách Văn Bản</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row" *ngIf="authecation">
          <ul
            class="nav nav-pills bg-nav-pills nav-justified mb-3"
            style="width: 100%; padding-right: 0px"
          >
            <li class="nav-item">
              <a
                href="#incoming-text"
                data-bs-toggle="tab"
                aria-expanded="false"
                class="nav-link rounded-0 active"
                (click)="changeTabs('VBDE')"
              >
                <i class="mdi mdi-home-variant d-md-none d-block"></i>
                <span class="d-none d-md-block">Văn bản đến</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#text-go"
                data-bs-toggle="tab"
                aria-expanded="true"
                class="nav-link rounded-0"
                (click)="changeTabs('VBDI')"
              >
                <i class="mdi mdi-account-circle d-md-none d-block"></i>
                <span class="d-none d-md-block">Văn bản đi</span>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#internal-text"
                data-bs-toggle="tab"
                aria-expanded="false"
                class="nav-link rounded-0"
                (click)="changeTabs('VBNO')"
              >
                <!-- <i class="mdi mdi-settings-outline d-md-none d-block"></i> -->
                <i class="mdi mdi-account-circle-outline d-md-none d-block"></i>
                <span class="d-none d-md-block">Văn bản nội bộ</span>
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane show active" id="incoming-text">
              <!--Tìm kiếm-->
              <div class="list row">
                <div class="col-8">
                  <div class="input-group mb-3">
                    <input
                      (keyup)="search()"
                      type="text"
                      class="form-control"
                      [placeholder]="getLabel('searchPlaceholer')"
                      [(ngModel)]="searchKey"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary"
                        type="button"
                        (click)="search()"
                      >
                        <i class="uil-search-alt"></i>
                        {{ getLabel("searchBtn") }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--Nội dung-->
              <div class="list-group-item active mb-3">
                <i>DANH SÁCH VĂN BẢN ĐẾN</i>
              </div>
              <div class="row">
                <div class="col-xl-9 col-md-12">
                  <table
                    id="basic-datatable"
                    class="table table-bordered border border-style mb-2 dt-responsive w-100 content-table"
                  >
                    <thead>
                      <tr>
                        <th style="width: 5%; text-align: center">STT</th>
                        <th style="width: 15%; text-align: center">Số VB</th>
                        <th style="text-align: center">Trích yếu</th>
                        <th style="width: 15%; text-align: center">Nơi nhận</th>
                        <th style="width: 15%; text-align: center">Ngày PH</th>
                        <th style="width: 15%">Nơi soạn thảo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of textList | paginate : config">
                        <td>{{ i.stt }}</td>
                        <td>{{ i.soVanBan ? i.soVanBan : "Trống" }}</td>
                        <td>
                          <span
                            class="table_context"
                            (click)="showDetail(i.idvb)"
                          >
                            <i
                              class="fa-solid fa-book"
                              style="color: #eeb5cd"
                            ></i>
                            {{
                              i.noiNhan ? i.noiNhan : "---------------"
                            }}</span
                          ><br />
                          <div
                            *ngIf="i.nguoiTao"
                            style="font-style: italic; font-size: 14px"
                          >
                            (
                            <i
                              class="fa-solid fa-user-plus"
                              style="color: green"
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              title="Người tạo"
                            ></i>
                            {{ i.nguoiTao ? i.nguoiTao.hoTen : "" }}
                            lúc
                            {{ i.ngayNhan | slice : 11 : 16 }} ngày
                            {{
                              i.ngayNhan | slice : 0 : 10 | date : "dd/MM/yyyy"
                            }}
                            <i
                              class="uil-eye"
                              style="color: green"
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              title="Lượt xem"
                            ></i
                            >{{ i.luotXem }} )
                          </div>
                        </td>
                        <td>{{ i.noiNhan }}</td>
                        <td>{{ i.ngayNhan | date : "dd/MM/yyyy" }}</td>
                        <td>{{ i.noiPhatHanh }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="list row">
                    <div class="col-md-8">
                      <pagination-controls
                        *ngIf="textList && textList.length != 0"
                        id="paging"
                        [previousLabel]="'quay lại'"
                        [nextLabel]="'tiếp tục'"
                        responsive="true"
                        responsive="true"
                        (pageChange)="handlePageChange($event)"
                      ></pagination-controls>
                    </div>
                    <div
                      class="col-md-4"
                      *ngIf="textList && textList.length != 0"
                    >
                      Số lượng thư mục
                      <select
                        style="border: solid 1px rgb(230, 229, 229)"
                        (change)="handlePageSizeChange($event)"
                      >
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--Nút bên trái-->
                <div class="col-xl-3 col-md-12">
                  <div class="d-grid">
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Năm
                    </div>
                    <select id="inputState" class="form-select mb-1">
                      <option>Tất cả</option>
                      <option value="-1" *ngFor="let i of incomingtextsnamMoi">
                        {{ i }}
                      </option>
                    </select>
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Nơi nhận văn bản
                    </div>
                    <select
                      [(ngModel)]="groupKeyChosen"
                      class="form-select mb-1"
                      id="inputState"
                      (change)="onChange($event.target.value)"
                    >
                      <option [value]="all" selected>Tất cả nhân viên</option>
                      <option
                        value="{{ groupKey }}"
                        *ngFor="let groupKey of generalService.allUserGroupsKey"
                      >
                        {{ groupKey }}
                      </option>
                    </select>
                    <!-- <select id="inputState" class="form-select mb-1">
                      <option>Tất cả mọi người</option>
                      <option *ngFor="let i of incomingtextsDuLieu">
                        {{ i }}
                      </option>
                    </select> -->
                  </div>
                  <div class="d-grid">
                    <button
                      (click)="openNewDocument(currentTab)"
                      type="button"
                      class="btn btn-info mb-1"
                      style="background-color: #395bb2; color: white"
                    >
                      Thêm văn bản đến
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-warning mb-1"
                      data-bs-toggle="modal"
                      data-bs-target="#standard-modal"
                      style="background-color: #395bb2; color: white"
                    >
                      Chuyển đến xem
                    </button>
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Thư Mục Văn Bản
                    </div>
                    <div style="margin-top: 10px; background-color: #f4f5f8">
                      <ul
                        *ngFor="let item of folderStructure"
                        style="list-style-type: none"
                      >
                        <li style="display: flex">
                          <div
                            style="min-width: 20px; cursor: pointer"
                            (click)="showChildren(item.idNhomVb)"
                          >
                            <i
                              class="fa-solid fa-square-minus"
                              *ngIf="
                                showChi &&
                                item.childNode &&
                                item.childNode.length > 0 &&
                                idShowChildren == item.idNhomVb
                              "
                            ></i>
                            <i
                              class="fa-sharp fa-solid fa-square-plus"
                              *ngIf="
                                item.childNode &&
                                item.childNode.length > 0 &&
                                (idShowChildren != item.idNhomVb || !showChi)
                              "
                            ></i>
                            <i class="fa-solid fa-pipe"></i>
                          </div>
                          <span style="margin-right: 10px; font-weight: bold">{{
                            item.tenNhom
                          }}</span>
                        </li>
                        <div
                          *ngIf="showChi && idShowChildren == item.idNhomVb"
                          style="margin-left: 0px"
                        >
                          <ul
                            *ngFor="let i of item.childNode"
                            style="list-style-type: none"
                          >
                            <li>--- {{ i.tennhom }}</li>
                          </ul>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--Chế độ xem-->
              <div
                id="standard-modal"
                class="modal fade"
                tabindex="-1"
                role="dialog"
                aria-labelledby="standard-modalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="standard-modalLabel">
                        CHẾ ĐỘ XEM
                      </h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-hidden="true"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <!---dòng bên trái-->
                        <div class="col-5"></div>
                        <div class="col-2"></div>
                        <!---dòng bên phải-->
                        <div class="col-5">
                          <div>
                            <label class="mb-1">Danh sách có sẵn </label>
                            <select
                              class="form-select mb-1"
                              id="example-select"
                            >
                              <option>Chọn nhóm riêng</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                            <select
                              class="form-select mb-2"
                              id="example-select"
                            >
                              <option>--Chọn nhóm từ danh bạ--</option>
                              <option>Tất cả mọi người</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                          </div>
                        </div>
                        <div>
                          <label class="mb-1">Danh sách được chọn </label>
                        </div>
                        <div class="row">
                          <div class="col-5">
                            <select
                              id="example-multiselect"
                              multiple
                              class="form-control mb-1"
                            >
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                            </select>
                          </div>
                          <div
                            class="col-2 d-flex justify-content-center flex-column"
                          >
                            <button class="btn btn-info rounded-pill">></button>
                            <button class="btn btn-info rounded-pill"><</button>
                          </div>
                          <div class="col-5">
                            <select
                              id="example-multiselect"
                              multiple
                              class="form-control mb-1"
                            >
                              <option>--Chọn nhóm từ danh bạ--</option>
                              <option>Tất cả mọi người</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end">
                          <div class="col-5">
                            <input
                              class="form-control mb-1"
                              id="exampleFormControlInput1"
                              placeholder="Tìm người dùng"
                            />
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button class="btn btn-primary rounded-pill">
                            Cập nhật
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--ko ra khỏi đây-->
            </div>
            <div class="tab-pane" id="text-go">
              <!--Tìm kiếm-->
              <div class="list row">
                <div class="col-8">
                  <div class="input-group mb-3">
                    <input
                      (keyup)="search()"
                      type="text"
                      class="form-control"
                      [placeholder]="getLabel('searchPlaceholer')"
                      [(ngModel)]="searchKey"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary"
                        type="button"
                        (click)="search()"
                      >
                        <i class="uil-search-alt"></i>
                        {{ getLabel("searchBtn") }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--Nội dung-->
              <div class="list-group-item active mb-3">
                <i>DANH SÁCH VĂN BẢN ĐI</i>
              </div>
              <div class="row">
                <div class="col-xl-9 col-md-12">
                  <table
                    id="basic-datatable"
                    class="table table-bordered border border-style mb-2 dt-responsive w-100 content-table"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Số VB</th>
                        <th>Trích yếu</th>
                        <th>Nơi nhận</th>
                        <th>Ngày PH</th>
                        <th>Nơi soạn thảo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of textList | paginate : config">
                        <td>{{ i.stt }}</td>
                        <td>{{ i.soVanBan }}</td>
                        <td>{{ i.noiNhan }}</td>
                        <td>{{ i.noiNhan }}</td>
                        <td>{{ i.ngayNhan | date : "dd/MM/yyyy" }}</td>
                        <td>{{ i.noiPhatHanh }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="list row">
                    <div class="col-md-8">
                      <pagination-controls
                        *ngIf="textList && textList.length != 0"
                        id="paging"
                        [previousLabel]="'quay lại'"
                        [nextLabel]="'tiếp tục'"
                        responsive="true"
                        responsive="true"
                        (pageChange)="handlePageChange($event)"
                      ></pagination-controls>
                    </div>
                    <div
                      class="col-md-4"
                      *ngIf="textList && textList.length != 0"
                    >
                      Số lượng thư mục
                      <select
                        style="border: solid 1px rgb(230, 229, 229)"
                        (change)="handlePageSizeChange($event)"
                      >
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--Nút bên trái-->
                <div class="col-xl-3 col-md-12">
                  <div class="d-grid">
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Năm
                    </div>
                    <select id="inputState" class="form-select mb-1">
                      <option>Tất cả</option>
                      <option value="-1" *ngFor="let i of incomingtextsnamMoi">
                        {{ i }}
                      </option>
                    </select>
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Nơi nhận văn bản
                    </div>
                    <select id="inputState" class="form-select mb-1">
                      <option>Tất cả mọi người</option>
                      <option *ngFor="let i of incomingtextsDuLieu">
                        {{ i }}
                      </option>
                    </select>
                  </div>
                  <div class="d-grid">
                    <button
                      (click)="openNewDocument(currentTab)"
                      type="button"
                      class="btn btn-info mb-1"
                      style="background-color: #395bb2; color: white"
                    >
                      Thêm văn bản đi
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-warning mb-1"
                      data-bs-toggle="modal"
                      data-bs-target="#standard-modal"
                      style="background-color: #395bb2; color: white"
                    >
                      Chuyển đến xem
                    </button>
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Thư Mục Văn Bản
                    </div>
                    <div style="margin-top: 10px; background-color: #f4f5f8">
                      <ul
                        *ngFor="let item of folderStructure"
                        style="list-style-type: none"
                      >
                        <li style="display: flex">
                          <div
                            style="min-width: 20px; cursor: pointer"
                            (click)="showChildren(item.idNhomVb)"
                          >
                            <i
                              class="fa-solid fa-square-minus"
                              *ngIf="
                                showChi &&
                                item.childNode &&
                                item.childNode.length > 0 &&
                                idShowChildren == item.idNhomVb
                              "
                            ></i>
                            <i
                              class="fa-sharp fa-solid fa-square-plus"
                              *ngIf="
                                item.childNode &&
                                item.childNode.length > 0 &&
                                (idShowChildren != item.idNhomVb || !showChi)
                              "
                            ></i>
                            <i class="fa-solid fa-pipe"></i>
                          </div>
                          <span style="margin-right: 10px; font-weight: bold">{{
                            item.tenNhom
                          }}</span>
                        </li>
                        <div
                          *ngIf="showChi && idShowChildren == item.idNhomVb"
                          style="margin-left: 0px"
                        >
                          <ul
                            *ngFor="let i of item.childNode"
                            style="list-style-type: none"
                          >
                            <li>--- {{ i.tennhom }}</li>
                          </ul>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--Chế độ xem-->
              <div
                id="standard-modal"
                class="modal fade"
                tabindex="-1"
                role="dialog"
                aria-labelledby="standard-modalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="standard-modalLabel">
                        CHẾ ĐỘ XEM
                      </h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-hidden="true"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <!---dòng bên trái-->
                        <div class="col-5"></div>
                        <div class="col-2"></div>
                        <!---dòng bên phải-->
                        <div class="col-5">
                          <div>
                            <label class="mb-1">Danh sách có sẵn </label>
                            <select
                              class="form-select mb-1"
                              id="example-select"
                            >
                              <option>Chọn nhóm riêng</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                            <select
                              class="form-select mb-2"
                              id="example-select"
                            >
                              <option>--Chọn nhóm từ danh bạ--</option>
                              <option>Tất cả mọi người</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                          </div>
                        </div>
                        <div>
                          <label class="mb-1">Danh sách được chọn </label>
                        </div>
                        <div class="row">
                          <div class="col-5">
                            <select
                              id="example-multiselect"
                              multiple
                              class="form-control mb-1"
                            >
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                            </select>
                          </div>
                          <div
                            class="col-2 d-flex justify-content-center flex-column"
                          >
                            <button class="btn btn-info rounded-pill">></button>
                            <button class="btn btn-info rounded-pill"><</button>
                          </div>
                          <div class="col-5">
                            <select
                              id="example-multiselect"
                              multiple
                              class="form-control mb-1"
                            >
                              <option>--Chọn nhóm từ danh bạ--</option>
                              <option>Tất cả mọi người</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end">
                          <div class="col-5">
                            <input
                              class="form-control mb-1"
                              id="exampleFormControlInput1"
                              placeholder="Tìm người dùng"
                            />
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button class="btn btn-primary rounded-pill">
                            Cập nhật
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--ko ra khỏi đây-->
            </div>
            <div class="tab-pane" id="internal-text">
              <!--Tìm kiếm-->
              <div class="list row">
                <div class="col-8">
                  <div class="input-group mb-3">
                    <input
                      (keyup)="search()"
                      type="text"
                      class="form-control"
                      [placeholder]="getLabel('searchPlaceholer')"
                      [(ngModel)]="searchKey"
                    />
                    <div class="input-group-append">
                      <button
                        class="btn btn-primary"
                        type="button"
                        (click)="search()"
                      >
                        <i class="uil-search-alt"></i>
                        {{ getLabel("searchBtn") }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--Nội dung-->
              <div class="list-group-item active mb-3">
                <i>DANH SÁCH VĂN BẢN NỘI BỘ</i>
              </div>
              <div class="row">
                <div class="col-xl-9 col-md-12">
                  <table
                    id="basic-datatable"
                    class="table table-bordered border border-style mb-2 dt-responsive w-100 content-table"
                  >
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Số VB</th>
                        <th>Trích yếu</th>
                        <th>Nơi nhận</th>
                        <th>Ngày PH</th>
                        <th>Nơi soạn thảo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let i of textList | paginate : config">
                        <td>{{ i.stt }}</td>
                        <td>{{ i.soVanBan }}</td>
                        <td>{{ i.noiNhan }}</td>
                        <td>{{ i.noiNhan }}</td>
                        <td>{{ i.ngayNhan | date : "dd/MM/yyyy" }}</td>
                        <td>{{ i.noiPhatHanh }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="list row">
                    <div class="col-md-8">
                      <pagination-controls
                        *ngIf="textList && textList.length != 0"
                        id="paging"
                        [previousLabel]="'quay lại'"
                        [nextLabel]="'tiếp tục'"
                        responsive="true"
                        responsive="true"
                        (pageChange)="handlePageChange($event)"
                      ></pagination-controls>
                    </div>
                    <div
                      class="col-md-4"
                      *ngIf="textList && textList.length != 0"
                    >
                      Số lượng thư mục
                      <select
                        style="border: solid 1px rgb(230, 229, 229)"
                        (change)="handlePageSizeChange($event)"
                      >
                        <option *ngFor="let size of pageSizes" [ngValue]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--Nút bên trái-->
                <div class="col-xl-3 col-md-12">
                  <div class="d-grid">
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Năm
                    </div>
                    <select id="inputState" class="form-select mb-1">
                      <option>Tất cả</option>
                      <option value="-1" *ngFor="let i of incomingtextsnamMoi">
                        {{ i }}
                      </option>
                    </select>
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Nơi nhận văn bản
                    </div>
                    <select id="inputState" class="form-select mb-1">
                      <option>Tất cả mọi người</option>
                      <option *ngFor="let i of incomingtextsDuLieu">
                        {{ i }}
                      </option>
                    </select>
                  </div>
                  <div class="d-grid">
                    <button
                      (click)="openNewDocument(currentTab)"
                      type="button"
                      class="btn btn-info mb-1"
                      style="background-color: #395bb2; color: white"
                    >
                      Thêm văn bản nội bộ
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-warning mb-1"
                      data-bs-toggle="modal"
                      data-bs-target="#standard-modal"
                      style="background-color: #395bb2; color: white"
                    >
                      Chuyển đến xem
                    </button>
                    <div
                      class="ootoppage1 btn"
                      style="background-color: #6575ff; color: white"
                    >
                      Thư Mục Văn Bản
                    </div>
                    <div style="margin-top: 10px; background-color: #f4f5f8">
                      <ul
                        *ngFor="let item of folderStructure"
                        style="list-style-type: none"
                      >
                        <li style="display: flex">
                          <div
                            style="min-width: 20px; cursor: pointer"
                            (click)="showChildren(item.idNhomVb)"
                          >
                            <i
                              class="fa-solid fa-square-minus"
                              *ngIf="
                                showChi &&
                                item.childNode &&
                                item.childNode.length > 0 &&
                                idShowChildren == item.idNhomVb
                              "
                            ></i>
                            <i
                              class="fa-sharp fa-solid fa-square-plus"
                              *ngIf="
                                item.childNode &&
                                item.childNode.length > 0 &&
                                (idShowChildren != item.idNhomVb || !showChi)
                              "
                            ></i>
                            <i class="fa-solid fa-pipe"></i>
                          </div>
                          <span style="margin-right: 10px; font-weight: bold">{{
                            item.tenNhom
                          }}</span>
                        </li>
                        <div
                          *ngIf="showChi && idShowChildren == item.idNhomVb"
                          style="margin-left: 0px"
                        >
                          <ul
                            *ngFor="let i of item.childNode"
                            style="list-style-type: none"
                          >
                            <li>--- {{ i.tennhom }}</li>
                          </ul>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--Chế độ xem-->
              <div
                id="standard-modal"
                class="modal fade"
                tabindex="-1"
                role="dialog"
                aria-labelledby="standard-modalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title" id="standard-modalLabel">
                        CHẾ ĐỘ XEM
                      </h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-hidden="true"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <!---dòng bên trái-->
                        <div class="col-5"></div>
                        <div class="col-2"></div>
                        <!---dòng bên phải-->
                        <div class="col-5">
                          <div>
                            <label class="mb-1">Danh sách có sẵn </label>
                            <select
                              class="form-select mb-1"
                              id="example-select"
                            >
                              <option>Chọn nhóm riêng</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                            <select
                              class="form-select mb-2"
                              id="example-select"
                            >
                              <option>--Chọn nhóm từ danh bạ--</option>
                              <option>Tất cả mọi người</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                          </div>
                        </div>
                        <div>
                          <label class="mb-1">Danh sách được chọn </label>
                        </div>
                        <div class="row">
                          <div class="col-5">
                            <select
                              id="example-multiselect"
                              multiple
                              class="form-control mb-1"
                            >
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                              <option value="000"></option>
                            </select>
                          </div>
                          <div
                            class="col-2 d-flex justify-content-center flex-column"
                          >
                            <button class="btn btn-info rounded-pill">></button>
                            <button class="btn btn-info rounded-pill"><</button>
                          </div>
                          <div class="col-5">
                            <select
                              id="example-multiselect"
                              multiple
                              class="form-control mb-1"
                            >
                              <option>--Chọn nhóm từ danh bạ--</option>
                              <option>Tất cả mọi người</option>
                              <option>Giám đốc</option>
                              <option>Phòng Tổ Chức Hành Chính</option>
                              <option>Phòng Kĩ Thuật</option>
                              <option>Phòng Kinh Doanh</option>
                              <option>Phòng Nhân Sự</option>
                              <option>Phòng Tài Chính-Kế toán</option>
                              <option>Phòng Truyền Thông</option>
                            </select>
                          </div>
                        </div>
                        <div class="d-flex justify-content-end">
                          <div class="col-5">
                            <input
                              class="form-control mb-1"
                              id="exampleFormControlInput1"
                              placeholder="Tìm người dùng"
                            />
                          </div>
                        </div>
                        <div class="d-flex justify-content-center">
                          <button class="btn btn-primary rounded-pill">
                            Cập nhật
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--ko ra khỏi đây-->
            </div>
          </div>
        </div>
        <div *ngIf="!authecation">Bạn k có quyền</div>
      </div>
    </div>
  </div>
</div>
