<div class="row col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Danh sách công việc con</h4>
            <div class="ms-3">
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Tên công việc</th>
                            <th>Người tạo</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Người xử lý</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                        </tr>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>TEST</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>