<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a [routerLink]="'/event/event-list'">Lịch Tuần</a>
            </li>
            <li class="breadcrumb-item">Danh Sách Lịch Tuần</li>
          </ol>
        </div>
        <h4 class="page-title">
          {{ getLabel("pageTitle") }}
          {{ currentTab ? "đã duyệt" : "chưa duyệt" }}
          <span style="color: #eda2b2; font-weight: bold"
            >từ {{ dateFrom | date : "dd/MM" }} đến
            {{ dateTo | date : "dd/MM" }}
          </span>
          <!-- <span style="color: #0d6efd; font-style: italic"
            >({{ getDateListApproved ? getDateListApproved.length : 0 }})</span
          > -->
        </h4>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="spinnerLoading ? spinnerLoading : false"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông Báo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <!--<button (click)="getTaskList()" type="button" class="btn btn-primary">Thử lại</button>-->
          <button
            (click)="openNewEvent()"
            type="button"
            class="btn btn-primary"
          >
            Thử lại
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <h4 class="page-title" style="word-break: break-word !important">
          {{ getLabel("pageTitle") }}
          {{ currentTab ? "đã duyệt" : "chưa duyệt" }}
          <span style="color: #ea3a72; font-weight: bold"
            >từ {{ dateFrom | date : "dd/MM" }} đến
            {{ dateTo | date : "dd/MM" }}
          </span>
          <span style="color: #0d6efd; font-style: italic"
            >({{ getDateListApproved ? getDateListApproved.length : 0 }})</span
          >
        </h4>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-9 col-md-12">
            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
              <li
                (click)="changeTabs(true)"
                class="nav-item"
                style="cursor: pointer"
              >
                <a
                  data-bs-toggle="tab"
                  aria-expanded="false"
                  class="nav-link rounded-0 active"
                >
                  <i class="mdi mdi-home-variant d-md-none d-block"></i>
                  <span class="d-none d-md-block"
                    >{{ getLabel("verify") }}
                    <span
                      style="vertical-align: top"
                      class="badge rounded-pill bg-warning text-dark"
                      *ngIf="currentTab == true"
                      >{{
                        getDateListApproved ? getDateListApproved.length : 0
                      }}</span
                    ></span
                  >
                </a>
              </li>
              <li
                (click)="changeTabs(false)"
                class="nav-item"
                style="cursor: pointer"
              >
                <a
                  data-bs-toggle="tab"
                  aria-expanded="true"
                  class="nav-link rounded-0"
                >
                  <i class="mdi mdi-account-circle d-md-none d-block"></i>
                  <span class="d-none d-md-block"
                    >{{ getLabel("unverify") }}
                    <span
                      style="vertical-align: top"
                      class="badge rounded-pill bg-warning text-dark"
                      *ngIf="currentTab == false"
                      >{{ getDateListApproved.length }}</span
                    ></span
                  >
                </a>
              </li>
            </ul>
            <div class="row mb-2">
              <div class="col-sm-5">
                <button
                  type="button"
                  class="btn btn-lg font-16 btn-primary rounded-2 mb-2"
                  (click)="exPortExcel()"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  [title]="getLabel('printBtn')"
                >
                  <span class="text-light">In Lịch</span>
                </button>
              </div>
              <div class="col-sm-7">
                <div class="text-sm-end">
                  <button
                    *ngIf="currentTab"
                    type="button"
                    class="btn btn-lg font-16 btn-primary rounded-2 mb-2 me-1"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    [title]="getLabel('canBtn')"
                    (click)="CancelEventMulti()"
                  >
                    <span class="text-light">Gỡ Duyệt</span>
                  </button>
                  <button
                    *ngIf="!currentTab"
                    type="button"
                    class="btn btn-lg font-16 btn-primary rounded-2 mb-2 me-1"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    [title]="getLabel('canBtn')"
                    (click)="ApprovedMultiple()"
                  >
                    <span class="text-light">Phê Duyệt</span>
                  </button>
                  <button
                    type="button"
                    class="btn btn-lg font-16 btn-primary rounded-2 mb-2 me-1"
                    (click)="deleteEventMultiple()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    [title]="getLabel('printBtn')"
                  >
                    <span class="text-light">Xóa Lịch</span>
                  </button>
                </div>
              </div>
            </div>
            <table
              class="col-7 table table-bordered border-style mb-2 dt-responsive nowrap w-100"
              #TABLE
              #table
            >
              <thead>
                <tr>
                  <th
                    width="20%"
                    style="text-align: center; vertical-align: middle"
                  >
                    {{ getLabel("dateCol") }}
                  </th>
                  <th
                    width="10%"
                    style="text-align: center; vertical-align: middle"
                  >
                    {{ getLabel("timeCol") }}
                  </th>
                  <th style="text-align: center; vertical-align: middle">
                    {{ getLabel("descriptionCol") }}
                  </th>
                  <!-- <th width="15%">{{ getLabel("locationCol") }}</th> -->
                  <th
                    width="8%"
                    style="text-align: center; vertical-align: middle"
                  >
                    Thao Tác
                  </th>
                  <th
                    width="3%"
                    style="text-align: center; vertical-align: middle"
                  >
                    <input
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Chọn để đánh dấu tất cả hoặc hủy tất cả"
                      type="checkbox"
                      [(ngModel)]="masterSelectedApproved"
                      (change)="
                        selectAll(masterSelectedApproved, EventNotApproved)
                      "
                    />
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container
                  *ngFor="let item of EventNotApproved ? EventNotApproved : []"
                >
                  <tr
                    [ngClass]="
                      checkToday2(item.ngay) ? 'bg-success text-light' : ''
                    "
                  >
                    <td
                      [attr.rowspan]="item.items.length + 1"
                      style="text-align: center"
                    >
                      <h4 class="header-title mb-3">
                        {{ getDate(item.ngay) }} <br />({{
                          item.ngay | slice : 0 : 10 | date : "dd/MM"
                        }})<br />
                      </h4>
                      <br />
                    </td>
                  </tr>

                  <tr
                    *ngFor="let i of item.items; let id = index"
                    [ngClass]="
                      checkToday2(item.ngay) ? 'bg-success text-light' : ''
                    "
                  >
                    <td
                      class="col-ngay"
                      style="text-align: center; vertical-align: middle"
                    >
                      <div
                        [ngStyle]="{
                          'text-decoration': checkhuy(i.huy, i.pheduyet)
                        }"
                      >
                        <span>{{ i.tgbatdau | slice : 11 : 16 }}</span
                        ><br />
                        -<br />
                        <span>
                          {{ i.tgketthuc | slice : 11 : 16 }}
                        </span>
                      </div>
                    </td>
                    <td style="vertical-align: middle">
                      <div>
                        <h4
                          class="header-title mb-3"
                          [ngStyle]="{
                            'text-decoration': checkhuy(i.huy, i.pheduyet)
                          }"
                        >
                          {{ i.noidung | uppercase }}
                        </h4>
                        <hr class="border" />
                        <ul class="list-unstyled mb-0">
                          <p class="mb-2">
                            <span class="fw-bold me-2">Chủ trì: </span>
                            <span>{{ i.chutri }}</span>
                          </p>

                          <p class="mb-2" *ngIf="i.chuanbi">
                            <span class="fw-bold me-2">Chuẩn bị: </span>
                            <span>{{ i.chuanbi }}</span>
                          </p>
                          <p class="mb-2" *ngIf="i.thanhphan">
                            <span class="fw-bold me-2">Thành Phần: </span>
                            <span>{{ i.thanhphan }}</span>
                          </p>
                          <p
                            class="mb-2"
                            *ngIf="i.diadiem"
                            [ngStyle]="{
                              'text-decoration': checkhuy(i.huy, i.pheduyet)
                            }"
                          >
                            <span class="fw-bold me-2">Địa Điểm: </span>
                            <span>{{ i.diadiem }}</span>
                          </p>
                          <p class="mb-2">
                            <span class="fw-bold me-2"
                              >Danh sách liên quan:
                            </span>
                            <span>{{ DSLQList(i.dsLienQuan) }} </span>
                            <span
                              class="pointer font-20"
                              (click)="showDSLQ(i.dsLienQuan)"
                              *ngIf="i.dsLienQuan.length >= 4"
                            >
                              <i
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Danh sách liên quan"
                                class="uil-expand-arrows-alt"
                              ></i>
                            </span>
                          </p>
                          <!-- <p class="mb-2">
                            <span class="fw-bold me-2">File đính kèm: </span>
                            <span>
                              <app-expand-card [cardname]="'teptin'">
                                <app-files
                                  [Folder]="'LichTuan'"
                                  [IdContent]="lichTuanID"
                                ></app-files> </app-expand-card
                            ></span>
                          </p> -->
                        </ul>
                        <hr class="border" />
                        <p class="mb-1">
                          <span class="fw-bold me-2">Đăng ký: </span>
                          <span *ngIf="!currentTab">
                            {{ i.tennguoidangky }},
                            {{ layThoiGianChenhLech(i.ngaytao) }}
                            , lúc
                            {{ i.ngaytao | slice : 11 : 16 }}
                          </span>
                          <span *ngIf="currentTab">
                            {{ i.tennguoidangky }},
                            {{ layThoiGianChenhLech(i.ngaytao) }}
                            , lúc
                            {{ i.ngaytao | slice : 11 : 16 }}
                          </span>
                          <span
                            [routerLink]="[
                              '/event/event-list/LoadComment-event/',
                              i.lichtuanid
                            ]"
                            class="pointer"
                            title="Xem phản hồi"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            ><i class="uil-comments-alt font-18"></i>
                            <span class="text-primary fw-bold">
                              ({{ i.soComment }})</span
                            >
                          </span>
                        </p>
                        <p class="mb-1">
                          <span class="fw-bold me-2">Duyệt: </span>
                          <span *ngIf="!currentTab"
                            >{{ i.tennguoipheduyet }},
                            {{ layThoiGianChenhLech(i.ngaypheduyet) }}
                            , lúc
                            {{ i.ngaypheduyet | slice : 11 : 16 }}
                          </span>
                          <span *ngIf="currentTab"
                            >{{ i.tennguoipheduyet }},
                            {{ layThoiGianChenhLech(i.ngaypheduyet) }}
                            , lúc
                            {{ i.ngaypheduyet | slice : 11 : 16 }}
                          </span>
                        </p>
                      </div>

                      <!-- <div
                        style="text-align: center; width: 80%; height: 10%"
                      ></div>
                      <div
                        [ngStyle]="{
                          'text-decoration': checkhuy(i.huy, i.pheduyet)
                        }"
                      >
                        <span class="fc-toolbar-title">Chủ trì: </span>
                        <span class="col_nd_content">{{ i.chutri }}</span>
                      </div>
                      <div *ngIf="i.chuanbi">
                        <span class="fc-toolbar-title">Chuẩn bị: </span>
                        <span class="col_nd_content">{{ i.chuanbi }}</span>
                      </div>
                      <div
                        *ngIf="i.thanhphan"
                        [ngStyle]="{
                          'text-decoration': checkhuy(i.huy, i.pheduyet)
                        }"
                      >
                        <span class="fc-toolbar-title">Thành Phần: </span>
                        <span class="col_nd_content">{{ i.thanhphan }}</span>
                      </div>
                      <div
                        *ngIf="i.diadiem"
                        [ngStyle]="{
                          'text-decoration': checkhuy(i.huy, i.pheduyet)
                        }"
                      >
                        <span class="fc-toolbar-title">Địa Điểm: </span>
                        <span
                          class="col_nd_content"
                          style="font-weight: bold"
                          >{{ i.diadiem }}</span
                        >
                      </div>
                      <div>
                        <span class="fc-toolbar-title"
                          >Danh sách liên quan:
                        </span>
                        <span
                          style="cursor: pointer; font-size: 20px"
                          class="col_nd_content"
                          (click)="showDSLQ(i.dsLienQuan)"
                          ><i
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Danh sách liên quan"
                            class="fa-regular fa-hand-point-right"
                          ></i>
                        </span>
                      </div>
                     <div>
                        <span class="col_lable"
                          >(
                          <i
                            style="color: green"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Người đăng ký"
                            class="fa-sharp fa-solid fa-user-plus"
                          ></i>
                          <span style="color: #85888d" *ngIf="!currentTab">
                            {{ i.tennguoidangky }},
                            {{ layThoiGianChenhLech(i.ngaytao) }}
                            , lúc
                            {{ i.ngaytao | slice : 11 : 16 }}
                          </span>
                          <span style="color: #85888d" *ngIf="currentTab">
                            {{ i.tennguoidangky }},
                            {{ layThoiGianChenhLech(i.ngaytao) }}
                            , lúc
                            {{ i.ngaytao | slice : 11 : 16 }}
                          </span>
                          )
                          <span
                            [routerLink]="[
                              '/event/event-list/LoadComment-event/',
                              i.lichtuanid
                            ]"
                            title="Xem phản hồi"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            style="cursor: pointer"
                            ><i
                              style="font-size: 18px"
                              class="fa-solid fa-comment"
                            ></i>
                            <span style="font-weight: bold; color: red">
                              ({{ i.soComment }})</span
                            >
                          </span>
                        </span>
                      </div>
                      <div *ngIf="currentTab">
                        <span class="col_lable"
                          >(
                          <i
                            style="color: green"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Người Duyệt"
                            class="fa-solid fa-user-check"
                          ></i>
                          <span style="color: #85888d" *ngIf="!currentTab"
                            >{{ i.tennguoipheduyet }},
                            {{ layThoiGianChenhLech(i.ngaypheduyet) }}
                            , lúc
                            {{ i.ngaypheduyet | slice : 11 : 16 }}
                          </span>
                          <span style="color: #85888d" *ngIf="currentTab"
                            >{{ i.tennguoipheduyet }},
                            {{ layThoiGianChenhLech(i.ngaypheduyet) }}
                            , lúc
                            {{ i.ngaypheduyet | slice : 11 : 16 }}
                          </span>
                          )
                        </span>
                      </div>
                      <br /> -->
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                      <div
                        class="align-items-center"
                        *ngIf="!currentTab || i.huy == '1'"
                      >
                        <div
                          style="cursor: pointer; font-size: 20px"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Duyệt"
                          (click)="Approved(i.lichtuanid)"
                        >
                          <i class="dripicons-checkmark"></i>
                        </div>
                      </div>
                      <div class="align-items-center">
                        <div
                          class="font-20"
                          [routerLink]="[
                            '/event/event-list/update-event/',
                            i.lichtuanid
                          ]"
                          style="cursor: pointer"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Sửa"
                        >
                          <i class="uil-edit"></i>
                        </div>
                      </div>
                      <div class="align-items-center">
                        <div
                          style="cursor: pointer; font-size: 20px"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Xóa"
                          (click)="deleteEvent(i.lichtuanid)"
                        >
                          <i class="uil-trash-alt"></i>
                        </div>
                      </div>
                      <div
                        class="align-items-center"
                        *ngIf="currentTab && i.huy == '0'"
                      >
                        <div
                          style="cursor: pointer; font-size: 20px"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Hủy"
                          (click)="CancelEvent(i.lichtuanid)"
                        >
                          <i class="uil-ban"></i>
                        </div>
                      </div>
                      <div
                        class="align-items-center"
                        *ngIf="currentTab && i.huy == '0'"
                      >
                        <div
                          style="cursor: pointer; font-size: 20px"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Chuyển thành lịch cá nhân"
                          [routerLink]="['/personal/new-event/', i.lichtuanid]"
                        >
                          <i class="uil-calendar-alt"></i>
                        </div>
                      </div>
                      <div
                        class="align-items-center"
                        *ngIf="currentTab && i.huy == '0'"
                      >
                        <div
                          style="cursor: pointer; font-size: 20px"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Chuyển thành công việc"
                          [routerLink]="['/tasks/new-task/', i.lichtuanid]"
                        >
                          <i class="uil-briefcase"></i>
                        </div>
                      </div>
                    </td>
                    <td style="text-align: center">
                      <input
                        class="cusor"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Chọn để đánh dấu"
                        type="checkbox"
                        [(ngModel)]="i.status"
                        (change)="
                          onChangeChecked(
                            i.status,
                            i.lichtuanid,
                            EventNotApproved
                          )
                        "
                      />
                    </td>
                  </tr>
                  <!-- /.modal --></ng-container
                >
              </tbody>
            </table>
          </div>
          <div class="col-xl-3 col-md-12">
            <div class="list-group">
              <button
                type="button"
                class="btn rounded mb-1 btn-success"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('newBtn')"
                (click)="openNewEvent()"
                src="assets/imgs/plus.png"
              >
                <span style="color: white">Thêm mới lịch tuần</span>
              </button>
              <!-- <button
                type="button"
                class="btn rounded mb-1"
                (click)="ApprovedMultiple()"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('apBtn')"
                style="cursor: pointer; background-color: #395bb2"
              >
                <span style="color: white">Phê Duyệt</span>
              </button>
              <button
                type="button"
                class="btn rounded mb-1"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('canBtn')"
                (click)="CancelEventMulti()"
                style="cursor: pointer; background-color: #395bb2"
              >
                <span style="color: white">Hủy</span>
              </button>
              <button
                type="submit"
                name="ctl22$DANHMUC$ctl02$btnDel"
                value="Xóa"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('deBtn')"
                class="btn rounded mb-1"
                (click)="deleteEventMultiple()"
                style="cursor: pointer; background-color: #395bb2"
              >
                <span style="color: white">Xóa</span>
              </button> -->
            </div>
            <div class="border mb-1">
              <div
                class="list-group-item list-group-item background mb-2"
                style="padding: 10px; background-color: #6575ff"
              >
                <b class="d-flex justify-content-center" style="color: white">
                  Lịch
                </b>
              </div>
              <app-calendar
                [eventList]="events"
                (getEvents)="getEvents($event)"
              ></app-calendar>
            </div>
            <!-- <app-calendar
        [eventList]="events"
        (getEvents)="getEvents($event)"
      ></app-calendar> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
