<div class="container-fluid">
  <div class="row">
    <div class="col-1 my-auto">
      <img
        (click)="goBack()"
        style="
          cursor: pointer;
          opacity: 0.5;
          width: 30px;
          height: auto;
          margin: auto;
        "
        src="assets/imgs/left.png"
      />
    </div>
    <div class="col-11">
      <div class="page-title-box">
        <h4 class="page-title">Danh Sách Lịch Tuần Mẫu</h4>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông Báo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <!--<button (click)="getTaskList()" type="button" class="btn btn-primary">Thử lại</button>-->
          <button
            (click)="openNewEvent()"
            type="button"
            class="btn btn-primary"
          >
            Thử lại
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <div class="page-title-box">
        <h4 class="page-title">{{ getLabel("pageTitle") }}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
        <li (click)="changeTabs(true)" class="nav-item" style="cursor: pointer">
          <a
            data-bs-toggle="tab"
            aria-expanded="false"
            class="nav-link rounded-0 active"
          >
            <i class="mdi mdi-home-variant d-md-none d-block"></i>
            <span class="d-none d-md-block"
              >{{ getLabel("verify") }}
              <span
                style="vertical-align: top"
                class="badge rounded-pill bg-warning text-dark"
                *ngIf="config != null && currentTab == true"
                >{{ config.totalItems }}</span
              ></span
            >
          </a>
        </li>
        <li
          (click)="changeTabs(false)"
          class="nav-item"
          style="cursor: pointer"
        >
          <a
            data-bs-toggle="tab"
            aria-expanded="true"
            class="nav-link rounded-0"
          >
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block"
              >{{ getLabel("unverify") }}
              <span
                style="vertical-align: top"
                class="badge rounded-pill bg-warning text-dark"
                *ngIf="config != null && currentTab == false"
                >{{ config.totalItems }}</span
              ></span
            >
          </a>
        </li>
      </ul>
      <!--End page title-->
      <table
        id="basic-datatable"
        class="table table-bordered table-striped border border-style table-hover table-centered mb-2 dt-responsive nowrap w-100 content-table"
      >
        <thead>
          <tr>
            <th width="20%">{{ getLabel("dateCol") }}</th>
            <th width="10%">{{ getLabel("timeCol") }}</th>
            <th>{{ getLabel("descriptionCol") }}</th>
            <th width="15%">{{ getLabel("locationCol") }}</th>
            <th width="8%">Thao Tác</th>
            <th width="3%">
              <input
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Chọn để đánh dấu tất cả hoặc hủy tất cả"
                type="checkbox"
                [(ngModel)]="masterSelectedApproved"
                (change)="selectAll(masterSelectedApproved, EventNotApproved)"
              />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class=""
            *ngFor="
              let item of EventNotApproved
                ? EventNotApproved
                : ([] | paginate : config)
            "
          >
            <td class="col-ngay">
              <span class="col_ngay_content">
                {{ getDate(item.tgbatdau) }} ({{
                  item.tgbatdau | slice : 0 : 10 | date : "dd/MM/yyyy"
                }})</span
              ><br />
              Đến<br />
              <span class="col_ngay_content">
                {{ getDate(item.tgketthuc) }}
                ({{
                  item.tgketthuc | slice : 0 : 10 | date : "dd/MM/yyyy"
                }})</span
              >
            </td>
            <td class="col-ngay">
              <span class="col_tg">{{
                item.tgbatdau | date : "shortTime"
              }}</span>
              <br />
              Tới <br />
              <span class="col_tg">
                {{ item.tgketthuc | date : "shortTime" }}
              </span>
            </td>
            <td>
              <div
                class="col_nd"
                [ngStyle]="{
                  'text-decoration': checkhuy(item.huy)
                }"
              >
                {{ item.noidung }}
              </div>
              <div
                [ngStyle]="{
                  'text-decoration': checkhuy(item.huy)
                }"
              >
                <span class="col_lable_title">Chủ trì: </span>
                <span class="col_nd_content">{{ item.chutri }}</span>
              </div>
              <div *ngIf="item.chuanbi">
                <span class="col_lable_title">Chuẩn bị: </span>
                <span class="col_nd_content">{{ item.chuanbi }}</span>
              </div>
              <div
                *ngIf="item.thanhphan"
                [ngStyle]="{
                  'text-decoration': checkhuy(item.huy)
                }"
              >
                <span class="col_lable_title">Thành Phần: </span>
                <span class="col_nd_content">{{ item.thanhphan }}</span>
              </div>
              <div>
                <span class="col_lable_title">Danh sách liên quan: </span>
                <span
                  style="cursor: pointer"
                  class="col_nd_content"
                  (click)="showDSLQ(item.dsLienQuan)"
                  ><img
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Danh sách liên quan"
                    src="../../../assets/images/icon/iconEvent/hand_point.png"
                /></span>
              </div>

              <div>
                <span class="col_lable_title"
                  >(<img
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Người đăng ký"
                    src="../../../assets/images/icon/iconEvent/AddNew.png"
                  /><img
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Người đăng ký"
                    src="../../../assets/images/icon/iconEvent/cal-private.gif"
                  /><span style="color: #85888d" *ngIf="!currentTab"
                    >{{ item.tennguoidangky }},
                    {{ layThoiGianChenhLech(item.ngaytao) }}
                    , lúc
                    {{ item.ngaytao | date : "shortTime" }}
                  </span>
                  <span style="color: #85888d" *ngIf="currentTab"
                    >{{ item.tennguoidangky }},
                    {{ item.ngaytao | date : "short" }}
                  </span>
                  )
                  <img
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Xem phản hồi"
                    src="../../../assets/images/icon/iconEvent/forum.gif"
                  /><span style="font-weight: bold; color: red">
                    ({{ item.soComment }})</span
                  >
                </span>
              </div>
              <div *ngIf="currentTab">
                <span class="col_lable_title"
                  >(<img
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Người Duyệt"
                    src="../../../assets/images/icon/iconEvent/accept.png"
                  /><img
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Người Duyệt"
                    src="../../../assets/images/icon/iconEvent/cal-private.gif"
                  /><span style="color: #85888d" *ngIf="!currentTab"
                    >{{ item.tennguoipheduyet }},
                    {{ layThoiGianChenhLech(item.ngaytao) }}
                    , lúc
                    {{ item.ngaytao | date : "shortTime" }}
                  </span>
                  <span style="color: #85888d" *ngIf="currentTab"
                    >{{ item.tennguoidangky }},
                    {{ item.ngaytao | date : "short" }}
                  </span>
                  )
                </span>
              </div>
              <br />
            </td>
            <td
              class="col_diadiem"
              [ngStyle]="{
                'text-decoration': checkhuy(item.huy)
              }"
            >
              {{ item.diadiem }}
            </td>
            <!-- <td class="text-center" >
                            <div id="tooltip-container1">
                                <span class="d-inline-block" tabindex="0" data-bs-container="#tooltip-container1"
                                    data-bs-toggle="tooltip" title="Chuyển thành lịch cá nhân">
                                    <i class="uil-code"></i>
                                </span>
                            </div>
                        </td> -->
            <td>
              <div
                class="align-items-center"
                *ngIf="!currentTab || item.huy == '1'"
              >
                <button
                  class="btn-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Duyệt"
                  (click)="Approved(item.lichtuanid)"
                >
                  <img src="../../../assets/images/icon/iconEvent/accept.png" />
                </button>
              </div>
              <div class="align-items-center">
                <button
                  [routerLink]="[
                    '/event/event-list/update-event/',
                    item.lichtuanid
                  ]"
                  class="btn-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Sửa"
                >
                  <img src="../../../assets/images/icon/iconEvent/edit.gif" />
                </button>
              </div>
              <div class="align-items-center">
                <button
                  class="btn-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Xóa"
                >
                  <img src="../../../assets/images/icon/iconEvent/delete.gif" />
                </button>
              </div>
              <div
                class="align-items-center"
                *ngIf="currentTab && item.huy == '0'"
              >
                <button
                  class="btn-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Hủy"
                  (click)="CancelEvent(item.lichtuanid)"
                >
                  <img src="../../../assets/images/icon/iconEvent/Cancel.png" />
                </button>
              </div>
              <div
                class="align-items-center"
                *ngIf="currentTab && item.huy == '0'"
              >
                <button
                  class="btn-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Chuyển thành lịch cá nhân"
                >
                  <img
                    src="../../../assets/images/icon/iconEvent/LichCaNhan.png"
                  />
                </button>
              </div>
              <div
                class="align-items-center"
                *ngIf="currentTab && item.huy == '0'"
              >
                <button
                  class="btn-icon"
                  data-bs-toggle="tooltip"
                  data-bs-placement="bottom"
                  title="Chuyển thành công việc"
                >
                  <img
                    src="../../../assets/images/icon/iconEvent/task_tree.gif"
                  />
                </button>
              </div>
            </td>
            <td>
              <input
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Chọn để đánh dấu"
                type="checkbox"
                [(ngModel)]="item.status"
                (change)="onChangeChecked(item.status, item.lichtuanid)"
              />
            </td>
          </tr>
          <!-- /.modal -->
        </tbody>
      </table>
      <!-- /////////////////// Pagination -->
      <div class="list row">
        <div class="col-md-8">
          <pagination-controls
            id="paging"
            [previousLabel]="getLabel('previousBtn')"
            [nextLabel]="getLabel('nextBtn')"
            responsive="true"
            responsive="true"
            (pageChange)="handlePageChange($event)"
          ></pagination-controls>
        </div>
        <div class="col-md-4">
          {{ getLabel("itemsPerPage") }}:
          <select
            style="border: solid 1px rgb(230, 229, 229)"
            (change)="handlePageSizeChange($event)"
          >
            <option *ngFor="let size of pageSizes" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="list-group">
        <button
          type="button"
          class="btn btn-success rounded mb-1"
          data-bs-toggle="modal"
          data-bs-target="#new-news-modal"
          style="cursor: pointer"
          [title]="getLabel('newBtn')"
          img
          (click)="openNewEvent()"
          src="assets/imgs/plus.png"
        >
          Thêm mới lịch tuần
        </button>
        <button
          type="button"
          class="btn btn-success rounded mb-1"
          (click)="ApprovedMultiple()"
        >
          Phê Duyệt
        </button>
        <button type="button" class="btn btn-success rounded mb-1">Hủy</button>
        <button
          type="submit"
          name="ctl22$DANHMUC$ctl02$btnDel"
          value="Xóa"
          class="btn btn-success rounded mb-1"
          onclick="return confirm('Bạn chắc chắn xóa ?');"
          id="ctl22_DANHMUC_btnDel_0"
        >
          Xóa
        </button>
        <button type="button" class="btn btn-success rounded mb-1">
          In Lịch
        </button>
      </div>
      <div style="border: 1px solid black"><app-calendar></app-calendar></div>
    </div>
  </div>
</div>
