<h3 *ngIf="!chude" class="card-title placeholder-glow">
    <span class="placeholder col-6"></span>
</h3>
<div class="wrap" *ngIf="!isEdit && title!=='' && EditEnable">
    <label class="h3 text-center label-enable-edit" (click)="isEdit = true">{{title}}</label> <i class="uil-pen h4 ms-1"></i>
</div>
<div *ngIf="!EditEnable">
    <label class="h3 text-center">{{title}}</label>
</div>
<div>
    <input *ngIf="isEdit" type="text" class="h3 w-75" name="chude" id="chude" [(ngModel)]="title">
    <button *ngIf="isEdit" type="button" class="custom-btn text-success"><i class="uil-check"
            (click)="updateTitle()"></i></button>
    <button *ngIf="isEdit" type="button" (click)="cancelEdit()" class="custom-btn text-danger"><i
            class="uil-times"></i></button>
</div>