<div class="wrapper">
  <div class="leftside-menu" style="background-color: white !important">
    <a href="index.html" class="logo text-center logo-light">
      <span class="logo-lg">
        <img
          src="assets/imgs/logoOO.jpg"
          alt=""
          height="45"
          style="border-radius: 10px"
        />
      </span>
      <span class="logo-sm">
        <img src="assets/images/oo_logo_sm.png" alt="" height="16" />
      </span>
    </a>

    <div
      class="h-100"
      id="leftside-menu-container"
      data-simplebar
      style="text-decoration: none !important"
    >
      <ul class="side-nav">
        <li
          class="side-nav-item"
          *ngFor="let item of items"
          [routerLinkActive]="['menuitem-active']"
        >
          <a
            data-bs-toggle="collapse"
            href="#{{ item.id }}"
            aria-expanded="false"
            aria-controls="{{ item.id }}"
            class="side-nav-link"
            style="text-decoration: none"
          >
            <i class="{{ item.icon }}" style="color: blue"></i>
            <span class="content_menu">
              {{ item[this.generalService.currentLanguage.Code].title }}
            </span>
            <span class="menu-arrow" style="color: blue"></span>
          </a>
          <div class="collapse" id="{{ item.id }}" #id>
            <ul class="side-nav-second-level">
              <li
                *ngFor="
                  let child of item[this.generalService.currentLanguage.Code]
                    .items;
                  let i = index
                "
                [routerLinkActive]="['menuitem-active']"
              >
                <a
                  [routerLink]="item.id + item.routing[i]"
                  [routerLinkActiveOptions]="{ exact: true }"
                  style="text-decoration: none"
                  class="side-nav-item-sub"
                  >{{ child }}</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
