<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/event/event-list">Lịch Tuần</a>
            </li>
            <li class="breadcrumb-item">Sửa Lịch Tuần</li>
          </ol>
        </div>
        <h4 class="page-title">Chi Tiết Lịch Tuần Mẫu</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <aw-wizard>
            <aw-wizard-step stepTitle="1. Nhập thông tin lịch">
              <div class="container">
                <div class="row">
                  <div class="mb-3 col-lg-6 col-sm-12 row">
                    <label for="simpleinput" class="form-label ipt"
                      >Bắt đầu:</label
                    >
                    <div class="col-lg-6 col-sm-12">
                      <input
                        class="form-control"
                        type="date"
                        [(ngModel)]="dateStart"
                      />
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <input
                        class="form-control col"
                        type="time"
                        style="width: 150px"
                        [(ngModel)]="hourStart"
                      />
                    </div>
                  </div>
                  <div class="mb-3 col-lg-6 col-sm-12 row">
                    <label for="simpleinput" class="form-label ipt"
                      >Kết thúc:</label
                    >
                    <div class="col-lg-6 col-sm-12">
                      <input
                        class="form-control"
                        type="date"
                        [(ngModel)]="dateEnd"
                      />
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <input
                        class="form-control col"
                        type="time"
                        style="width: 150px"
                        [(ngModel)]="hourEnd"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label ipt"
                      >Nội dung: <span class="required_input">(*)</span>
                    </label>
                    <textarea
                      class="form-control"
                      id="example-textarea"
                      rows="5"
                      [(ngModel)]="event.noidung"
                    ></textarea>
                    <span class="input_error" *ngIf="errors.noidung">
                      {{ errors.noidung }}
                    </span>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label ipt"
                      >Chủ trì: <span class="required_input">(*)</span></label
                    >
                    <input
                      type="text"
                      id="simpleinput"
                      class="form-control"
                      [(ngModel)]="event.chutri"
                    />
                    <span class="input_error" *ngIf="errors.chutri">
                      {{ errors.chutri }}
                    </span>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label ipt"
                      >Thành phần:
                      <span class="required_input">(*)</span></label
                    >
                    <input
                      type="text"
                      id="simpleinput"
                      class="form-control"
                      [(ngModel)]="event.thanhphan"
                    />
                    <span class="input_error" *ngIf="errors.thanhphan">
                      {{ errors.thanhphan }}
                    </span>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label ipt"
                      >Chuẩn bị:</label
                    >
                    <input
                      type="text"
                      id="simpleinput"
                      class="form-control"
                      [(ngModel)]="event.chuanbi"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label"
                      >Địa điểm: <span class="required_input">(*)</span></label
                    >

                    <select
                      class="form-select"
                      #diadiem
                      (change)="changeDiaDiem(diadiem.value)"
                    >
                      <option [selected]="!event.diadiem" value="">
                        Địa Điểm Khác
                      </option>
                      <option
                        *ngFor="let item of locationListAll"
                        [value]="item.diaDiemId"
                        [selected]="event.diadiem == item.tenDiaDiem"
                      >
                        {{ item.tenDiaDiem }} - {{ item.moTa }}
                      </option>
                    </select>
                    <input
                      *ngIf="!(readonlyInput || checkDiaDiem)"
                      type="text"
                      class="form-control"
                      [(ngModel)]="inputDiaDiem"
                    />
                    <span class="input_error" *ngIf="errors.diadiem">
                      {{ errors.diadiem }}
                    </span>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label"
                      >Mời:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="event.khachmoi"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label"
                      >Ghi chú:</label
                    >
                    <textarea
                      class="form-control"
                      id="example-textarea"
                      rows="5"
                      [(ngModel)]="event.ghichu"
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Thêm File:</label>
                    <app-dropzone></app-dropzone>
                  </div>
                </div>
              </div>
              <div class="btn_list">
                <button
                  type="button"
                  (click)="checkValidate()"
                  class="btn btn-primary"
                >
                  Chọn Danh Sách Liên Quan
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="2. Danh sách liên quan" awOptionalStep>
              <div class="card">
                <div class="card-body">
                  <div style="margin: 0 10px 30px 30px">
                    <label class="form-label" for="groupOfAssignee">
                      Lựa chọn danh sách từ:
                    </label>
                    <select
                      style="width: 50%"
                      [(ngModel)]="groupKeyChosenInStep2"
                      class="form-select"
                      id="groupOfAssignee"
                      (change)="onChange($event.target.value)"
                    >
                      <option value="all" selected>Tất cả nhân viên</option>
                      <option
                        *ngFor="let groupKey of generalService.allUserGroupsKey"
                        value="{{ groupKey }}"
                      >
                        {{ groupKey }}
                      </option>
                    </select>
                  </div>

                  <app-dual-list
                    (updateLists)="dualListUpdateForAssignee($event)"
                    [leftList]="allUserInStep2List"
                    [rightList]="chosenAssigneelList"
                  ></app-dual-list>
                </div>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-warning me-2"
                  awPreviousStep
                >
                  Trở Lại
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="updateEventSample()"
                >
                  Sửa Lịch Tuần Mẫu
                </button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
