<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/personal/event">Lịch Cá Nhân</a>
            </li>
            <li class="breadcrumb-item">Danh Thiếp</li>
          </ol>
        </div>
        <h4 class="page-title">Danh Thiếp</h4>
      </div>
    </div>
  </div>
  <!--End page title-->
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-9 col-md-12">
            <div>
              <table
                id="basic-datatable"
                class="table table-bordered border border-style mb-2 dt-responsive nowrap w-100 content-table"
              >
                <thead>
                  <tr>
                    <th style="text-align: center" width="5%">
                      {{ getLabel("dateCol") }}
                    </th>
                    <th style="text-align: center" width="25%">
                      {{ getLabel("nameCol") }}
                    </th>
                    <th style="text-align: center" width="15%">
                      {{ getLabel("phoneCol") }}
                    </th>
                    <th style="text-align: center" width="20%">
                      {{ getLabel("emailCol") }}
                    </th>
                    <th style="text-align: center">
                      {{ getLabel("ghichuCol") }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of businesscardData | paginate : config;
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>
                    <td
                      style="cursor: pointer; font-weight: bold"
                      class="hover groupName"
                      (click)="showDetail(item.iddanhthiep)"
                    >
                      {{ item.hoten }}
                    </td>
                    <td>{{ item.dienthoai }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.ghichu }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xl-3 col-md-12">
            <div class="my-auto">
              <div class="list-group">
                <button
                  type="button"
                  class="btn rounded mb-2"
                  [title]="getLabel('newTask')"
                  (click)="openAddBusinessCard()"
                  style="
                    cursor: pointer;
                    background-color: #395bb2;
                    color: white;
                  "
                  src="assets/imgs/plus.png"
                >
                  Nhập danh thiếp
                </button>
              </div>
            </div>
            <div class="my-auto">
              <div class="list-group">
                <button
                  type="button"
                  class="btn rounded mb-2"
                  [title]="getLabel('newTask')"
                  (click)="openAddWorkGroup()"
                  style="
                    cursor: pointer;
                    background-color: #395bb2;
                    color: white;
                  "
                  src="assets/imgs/plus.png"
                >
                  Nhập nhóm công việc
                </button>
              </div>
            </div>
            <div class="border mb-1">
              <label
                for="example-select"
                style="color: white; background-color: #6575ff"
                class="form-label list-group-item background-1 text-center"
                >Nhóm công việc</label
              >
              <div
                *ngFor="let item of groupTask"
                style="background-color: #f2f2f2"
              >
                <div
                  (click)="detailGroupTask(item.idnhom)"
                  style="cursor: pointer"
                >
                  <span class="groupName">- {{ item.tennhom }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
