<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/event/event-list">Văn Bản</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/event/event-sample">Văn Bản Đến</a>
            </li>
            <li class="breadcrumb-item">Thêm Văn Bản Đến</li>
          </ol>
        </div>
        <h4 class="page-title">Thêm Văn Bản Đến</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <aw-wizard>
            <aw-wizard-step stepTitle="1. Nhập thông tin lịch">
              <div class="container">
                <div class="row" style="width: 100%">
                  <div class="border-bottom" style="color: Red">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="customCheck1"
                    />
                    KHẨN
                  </div>
                  <table
                    id="basic-datatable"
                    class="table dt-responsive nowrap w-100"
                  >
                    <div class="row">
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Số TT: </label>
                        <div class="col-8">
                          <input type="email" class="form-control" id="SoTT" />
                        </div>
                      </div>
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label"
                          >Lưu bản cứng:
                        </label>
                        <div class="col-8">
                          <select class="form-select" id="example-select">
                            <option>Chọn phòng ban</option>
                            <option>Giám đốc</option>
                            <option>Phòng Tổ Chức Hành Chính</option>
                            <option>Phòng Kĩ Thuật</option>
                            <option>Phòng Kinh Doanh</option>
                            <option>Phòng Nhân Sự</option>
                            <option>Phòng Tài Chính-Kế toán</option>
                            <option>Phòng Truyền Thông</option>
                          </select>
                        </div>
                      </div>
                      <!---->
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Nơi gửi: </label>
                        <div class="col-8">
                          <input type="text" class="form-control" id="Noigui" />
                        </div>
                      </div>
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Ngày gửi: </label>
                        <div class="col-8">
                          <input
                            class="form-control"
                            id="example-date"
                            type="date"
                            name="date"
                          />
                        </div>
                      </div>
                      <!---->
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Số văn bản: </label>
                        <div class="col-8">
                          <input
                            type="text"
                            class="form-control"
                            id="Sovanban"
                          />
                        </div>
                      </div>
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Thư mục: </label>
                        <div class="col-8">
                          <input
                            type="text"
                            class="form-control"
                            id="Noinhan"
                          />
                        </div>
                      </div>
                      <!---->
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label"
                          >Nơi phát hành:
                        </label>
                        <div class="col-8">
                          <input
                            type="text"
                            class="form-control"
                            id="Noiphathanh"
                          />
                        </div>
                      </div>
                      <!---->
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Ngày đến: </label>
                        <div class="col-8">
                          <input
                            class="form-control"
                            id="example-date"
                            type="date"
                            name="date"
                          />
                        </div>
                      </div>
                      <!---->
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Người ký: </label>
                        <div class="col-8">
                          <input
                            type="text"
                            class="form-control"
                            id="Nguoiky"
                          />
                        </div>
                      </div>
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label">Ngày ký: </label>
                        <div class="col-8">
                          <input
                            class="form-control"
                            id="example-date"
                            type="date"
                            name="date"
                          />
                        </div>
                      </div>
                      <!---->
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label"
                          >Chọn nguồn VB
                        </label>
                        <div class="col-8">
                          <select class="form-select" id="example-select">
                            <option>Chọn nguồn VB</option>
                            <option>Giám đốc</option>
                            <option>Phòng Tổ Chức Hành Chính</option>
                            <option>Phòng Kĩ Thuật</option>
                            <option>Phòng Kinh Doanh</option>
                            <option>Phòng Nhân Sự</option>
                            <option>Phòng Tài Chính-Kế toán</option>
                            <option>Phòng Truyền Thông</option>
                          </select>
                        </div>
                      </div>
                      <div class="row col-6 border-bottom">
                        <label class="col-4 col-form-label"
                          >Thời hạn xử lý:
                        </label>
                        <div class="col-8">
                          <input
                            class="form-control"
                            id="example-date"
                            type="date"
                            name="date"
                          />
                        </div>
                      </div>
                      <!---->
                      <div class="row border-bottom">
                        <label
                          for="example-textarea"
                          class="col-2 col-form-label"
                          >Trích yếu:
                        </label>
                        <div class="col-10">
                          <textarea
                            class="form-control"
                            id="example-textarea"
                            rows="2"
                          ></textarea>
                        </div>
                      </div>
                      <!---->
                      <div class="row border-bottom">
                        <label
                          for="example-textarea"
                          class="col-2 col-form-label"
                          >Ghi chú:
                        </label>
                        <div class="col-10">
                          <textarea
                            class="form-control"
                            id="example-textarea"
                            rows="2"
                          ></textarea>
                        </div>
                      </div>
                      <!---->
                      <div class="row border-bottom">
                        <label class="col-2 col-form-label">Thêm File:</label>
                        <app-dropzone></app-dropzone>
                      </div>
                    </div>
                  </table>
                </div>
              </div>
              <div class="btn_list">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="checkValidate()"
                >
                  Chọn Danh Sách Liên Quan
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="2. Danh sách liên quan" awOptionalStep>
              <div class="card">
                <div class="card-body">
                  <div style="margin: 0 10px 30px 30px">
                    <label class="form-label" for="groupOfAssignee">
                      Lựa chọn danh sách từ:
                    </label>
                    <select
                      style="width: 50%"
                      [(ngModel)]="groupKeyChosenInStep2"
                      class="form-select"
                      id="groupOfAssignee"
                      (change)="onChange($event.target.value)"
                    >
                      <option value="all" selected>Tất cả nhân viên</option>
                      <option
                        *ngFor="let groupKey of generalService.allUserGroupsKey"
                        value="{{ groupKey }}"
                      >
                        {{ groupKey }}
                      </option>
                    </select>
                  </div>

                  <app-dual-list
                    (updateLists)="dualListUpdateForAssignee($event)"
                    [leftList]="allUserInStep2List"
                    [rightList]="chosenAssigneelList"
                  ></app-dual-list>
                  <div style="margin: 0 10px 30px 30px">
                    <label class="form-label" for="majorAssignee"
                      ><span style="color: tomato">(*)</span> Người Xử lý Chính:
                    </label>
                    <select
                      style="width: 50%"
                      [(ngModel)]="majorAssignee"
                      class="form-select"
                      id="majorAssignee"
                      (change)="onChangeUser($event.target.value)"
                    >
                      <option selected>Chọn...</option>
                      <option
                        value="{{ assignee.fullName }}"
                        *ngFor="let assignee of chosenAssigneelList"
                      >
                        {{ assignee.fullName }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-warning me-2"
                  awPreviousStep
                >
                  Trở Lại
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="addEventSample()"
                >
                  Thêm Lịch Tuần Mẫu
                </button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
