<div class="row col-12">
    <app-expand-card [title]="'Xử lý chính'" [cardname]="'nguoixuly'">
        <div class="list-group mt-1">
            <div class="list-group-item">
                <div class="d-flex align-items-start" *ngIf="nguoiXuLy">
                    <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                    <app-avatar-tooltip [fullname]="nguoiXuLy.hoTen" [size]="'sm'">
                    </app-avatar-tooltip>
                    <div class="ms-1 d-flex flex-column gap-1">
                        <h5 class="text-dark mb-0">{{nguoiXuLy.hoTen}}</h5>
                        <i class="text-success fs-6">Đã xử lý</i>
                        <b class="fs-6 text-success" *ngIf="nguoiXuLy.soLanXem>0">Xem {{nguoiXuLy.soLanXem}} lần,
                            lần cuối:
                            {{timeToCalendar(nguoiXuLy.thoiGianXem)}}</b>
                        <i class="fs-6 text-danger" *ngIf="nguoiXuLy.soLanXem<1">Chưa xem</i>
                        <label *ngIf="tinhTrang == '1'">Đánh giá:
                            <app-ratings [ratings]="nguoiXuLy.danhGia" [enable]="ratingEnable"
                                [userId]="nguoiXuLy.userId"></app-ratings>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </app-expand-card>
</div>
<div class="row col-12">
    <app-expand-card [cardname]="'nguoiTao'" [title]="'Người tạo'">
        <div class="list-group mt-1">
            <div class="list-group-item">
                <div class="d-flex align-items-start" *ngIf="nguoiTao">
                    <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                    <app-avatar-tooltip [fullname]="nguoiTao.hoTen" [size]="'sm'">
                    </app-avatar-tooltip>
                    <div class="ms-1 d-flex flex-column gap-1">
                        <h5 class="text-dark mb-0">{{nguoiTao.hoTen}}</h5>
                        <i class="text-success fs-6">Đã xử lý</i>
                        <b class="fs-6 text-success" *ngIf="nguoiTao.soLanXem>0">Xem {{nguoiTao.soLanXem}} lần,
                            lần
                            cuối:
                            {{timeToCalendar(nguoiTao.thoiGianXem)}}</b>
                        <i class="fs-6 text-danger" *ngIf="nguoiTao.soLanXem<1">Chưa xem</i>
                    </div>
                </div>
            </div>
        </div>
    </app-expand-card>
</div>
<div class="row col-12">
    <app-expand-card [cardname]="'danhsachxuly'" [title]="'Phối hợp thực hiện'">
        <div class="list-group mt-1">
            <div class="list-group-item" *ngFor="let i of dsThamGia">
                <div class="d-flex align-items-start">
                    <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                    <app-avatar-tooltip [fullname]="i.hoTen" [size]="'sm'">
                    </app-avatar-tooltip>
                    <div class="ms-1 d-flex flex-column gap-1">
                        <h5 class="text-dark mb-0">{{i.hoTen}}</h5>
                        <i class="text-success fs-6" *ngIf="i.tinhTrangXuLy == 2">Đã xử lý</i>
                        <i class="text-primary fs-6" *ngIf="i.tinhTrangXuLy == 1">Đang xử lý</i>
                        <i class="text-danger fs-6" *ngIf="i.tinhTrangXuLy == 0">Chưa xử lý</i>
                        <b class="fs-6 text-success" *ngIf="i.soLanXem>0">Xem {{i.soLanXem}} lần, lần cuối:
                            {{timeToCalendar(i.thoiGianXem)}}</b>
                        <i class="fs-6 text-danger" *ngIf="i.soLanXem<1">Chưa xem</i>
                        <label *ngIf="tinhTrang == '1'">Đánh giá:
                            <app-ratings [ratings]="i.danhGia" [enable]="ratingEnable"
                                [userId]="i.userId"></app-ratings>
                        </label>
                    </div>
                </div>
                <!-- <div class="text-end">
                            <span class="badge bg-primary me-1">Kĩ thuật</span>
                        </div> -->
            </div>
        </div>
    </app-expand-card>
</div>
<div class="row col-12">
    <app-expand-card [cardname]="'dsDuocXem'" [title]="'Được xem'">
        <div class="list-group mt-1">
            <div class="list-group-item" *ngFor="let i of dsDuocXem">
                <div class="d-flex align-items-start">
                    <!-- <img src="assets/images/users/avatar-2.jpg" class="avatar-sm rounded-circle" alt="avatar"> -->
                    <app-avatar-tooltip [fullname]="i.hoTen" [size]="'sm'">
                    </app-avatar-tooltip>
                    <div class="ms-1 d-flex flex-column gap-1">
                        <h5 class="text-dark mb-0">{{i.hoTen}}</h5>
                        <b class="fs-6 text-success" *ngIf="i.soLanXem>0">Xem {{i.soLanXem}} lần, lần cuối:
                            {{timeToCalendar(i.thoiGianXem)}}</b>
                        <i class="fs-6 text-danger" *ngIf="i.soLanXem<1">Chưa xem</i>
                    </div>
                </div>
                <!-- <div class="text-end">
                            <span class="badge bg-primary me-1">Kĩ thuật</span>
                        </div> -->
            </div>
        </div>
    </app-expand-card>
</div>