<div class="container-fluid">
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông Báo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <!--<button (click)="getTaskList()" type="button" class="btn btn-primary">Thử lại</button>-->
          <button
            (click)="openNewFileCabinet()"
            type="button"
            class="btn btn-primary"
          >
            Thử lại
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/personal/event">Lịch Cá Nhân</a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/personal/file-cabinet">Tủ Hồ Sơ</a>
            </li>
            <li class="breadcrumb-item">Chi Tiết Hồ Sơ Cá Nhân</li>
          </ol>
        </div>
        <h4 class="page-title">Chi Tiết Hồ Sơ Cá Nhân</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">{{ getLabel("pageTitle") }}</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-9 col-md-12">
              <div class="rowFile">
                <div>
                  <span class="content"
                    >{{ filecabinetData ? filecabinetData.tenhoso : "" }}
                  </span>
                </div>
              </div>
              <div>
                <div>
                  <span class="sub_content">
                    (<i class="fa-solid fa-user-plus"></i> Người tạo
                    {{ filecabinetData ? filecabinetData.nguoitao.hoTen : "" }},
                    {{
                      layThoiGianChenhLech(
                        filecabinetData ? filecabinetData.ngaynhap : ""
                      )
                    }}
                    lúc
                    {{
                      filecabinetData
                        ? (filecabinetData.ngaynhap | slice : 11 : 16)
                        : ""
                    }}
                    ngày
                    {{
                      filecabinetData
                        ? (filecabinetData.ngaynhap
                          | slice : 0 : 10
                          | date : "dd-MM-yyyy")
                        : ""
                    }},
                    <i
                      class="fa-solid fa-eye"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Lượt xem"
                    ></i>
                    Lượt xem
                    {{ filecabinetData ? filecabinetData.lanxem : "" }}
                    )
                  </span>
                </div>
              </div>
              <div class="col-12">
                <div class="page-title-box">
                  <h4 class="page-title">{{ getLabel("pageTitle2") }}</h4>
                </div>
              </div>
              <div class="col-xl-12 col-md-12">
                <div
                  style="
                    border: 1px rgb(169, 160, 160);
                    width: 100%;
                    height: auto;
                    background-color: rgba(182, 230, 244, 0.575);
                    padding: 10px;
                  "
                >
                  <div
                    style="margin: 10px 10px"
                    *ngFor="
                      let item of filecabinetData
                        ? filecabinetData.danhSachDuocXem
                        : []
                    "
                  >
                    <span style="font-size: 14px; font-weight: bold"
                      >- {{ item.hoTen }}</span
                    >
                    <span class="sub_content" *ngIf="item.soLanXem > 0">
                      ( Xem {{ item.soLanXem }} lần, lần cuối:
                      {{ layThoiGianChenhLech(item.thoiGianXem) }} lúc
                      {{ item.thoiGianXem | slice : 11 : 16 }}
                      ngày
                      {{
                        item.thoiGianXem | slice : 0 : 10 | date : "dd-MM-yyyy"
                      }}
                      )</span
                    >
                    <span class="sub_content" *ngIf="item.soLanXem == 0">
                      (Chưa Xem)</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-12">
              <div style="margin-bottom: 10px">
                <abbr style="cursor: pointer" [title]="getLabel('newFile')">
                  <input
                    (click)="openNewFileCabinet()"
                    type="submit"
                    name="ctl25$DangKy"
                    value="{{ getLabel('newFile') }}"
                    id="ctl25_DangKy"
                    class="btn btn-block"
                    style="width: 100%; background-color: #395bb2; color: white"
                  />
                </abbr>
              </div>
              <div
                style="margin-bottom: 10px"
                *ngIf="
                  filecabinetData &&
                  filecabinetData.nguoitao.userId ==
                    generalService.currentUser.userId
                "
              >
                <abbr
                  style="cursor: pointer"
                  [title]="getLabel('newFile1')"
                  *ngIf="
                    filecabinetData &&
                    filecabinetData.nguoitao.userId ==
                      generalService.currentUser.userId
                  "
                >
                  <input
                    (click)="updateFileCabinet(filecabinetData.idhoso)"
                    type="submit"
                    name="ctl25$DangKy"
                    value="{{ getLabel('newFile1') }}"
                    id="ctl25_DangKy"
                    class="btn btn-block"
                    style="width: 100%; background-color: #395bb2; color: white"
                  />
                </abbr>
              </div>
              <div style="margin-bottom: 10px">
                <abbr style="cursor: pointer" [title]="getLabel('newFile2')">
                  <input
                    (click)="deleteFileCabinet(filecabinetData.idhoso)"
                    type="submit"
                    name="ctl25$DangKy"
                    value="{{ getLabel('newFile2') }}"
                    id="ctl25_DangKy"
                    class="btn btn-block"
                    style="width: 100%; background-color: #395bb2; color: white"
                  />
                </abbr>
              </div>
              <div style="margin-bottom: 10px">
                <abbr style="cursor: pointer" [title]="getLabel('newFile3')">
                  <input
                    type="submit"
                    name="ctl25$DangKy"
                    value="{{ getLabel('newFile3') }}"
                    id="ctl25_DangKy"
                    class="btn btn-success btn-block"
                    style="width: 100%; background-color: #6575ff; color: white"
                  />
                </abbr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
