.nav-link {
  cursor: pointer;
}
.rowFile {
  margin: 0 0 20px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(172, 159, 159);
}
.content {
  font-size: 16px;
  font-weight: bold;

  color: rgb(56, 56, 212);
}
.sub_content {
  margin-left: 20px;
  color: #a9b2b4;
  font-size: 14px;
  font-style: italic;
}
.fa-user {
  color: black;
}
.page-title-box .page-title {
  line-height: 60px !important;
}
