.content-table thead tr {
  background-color: #0091ff;
  color: aliceblue;
  text-align: left;
  font-weight: bold;
}
.align-items-center {
  text-align: center;
}
.btn-icon {
  border: none !important;
  border-bottom: 1.4px black solid !important;
  background-color: white;
  margin-bottom: 3px;
  width: 30px;
  height: 30px;
}
.col_ngay_content {
  color: #9c0000;
}
.col-ngay {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.col_tg {
  color: #000082;
}
th {
  text-align: center;
}
.col_nd {
  color: #000080;
  font-weight: bold;
  font-size: 16px;
}
.col_lable_title {
  color: #bf8080;
  font-style: italic;
  font-size: 14px;
}
.col_nd_content {
  color: #271e8b;
  font-size: 15px;
}
.col_diadiem {
  color: #271e8b;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}
.cusor {
  cursor: pointer;
}
/*  */
/* .pad.i {
  background-image: linear-gradient(to top, #fff 0%, #fff 50%, #90dffe 73%);
} */
.pad2 {
  width: 20%;
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 300px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
  background: linear-gradient(
    111deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(246, 246, 246, 1) 29.62%,
    rgba(234, 234, 234, 1) 58.47%,
    rgba(215, 215, 215, 1) 86.92%,
    rgba(204, 204, 204, 1) 99.22%
  );
}
.pad2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.pad {
  margin-top: 0px;
  width: 75%;
  display: inline-block;
  position: relative;
  z-index: 1;
  height: 300px;
  margin-left: 10px;
  padding: 0px;
  border-radius: 20px;
  background: linear-gradient(
    0.06deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(246, 246, 246, 1) 29.62%,
    rgba(234, 234, 234, 1) 58.47%,
    rgba(215, 215, 215, 1) 86.92%,
    rgba(204, 204, 204, 1) 99.22%
  );
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.1), -8px 16px 16px rgba(0, 0, 0, 0.1),
    -16px 32px 32px rgba(0, 0, 0, 0.15), -32px 64px 64px rgba(0, 0, 0, 0.25);
}
.pad:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
