<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a [routerLink]="'/event/event-list'">Lịch Tuần</a>
            </li>
            <li class="breadcrumb-item">Phản Hồi Lịch Tuần</li>
          </ol>
        </div>
        <h4 class="page-title">Phản Hồi Lịch Tuần</h4>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông Báo</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Có lỗi xảy ra khi kết nối đến máy chủ. Xin vui lòng thử lại</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
          <!--<button (click)="getTaskList()" type="button" class="btn btn-primary">Thử lại</button>-->
          <button
            (click)="openNewEvent()"
            type="button"
            class="btn btn-primary"
          >
            Thử lại
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-9 col-md-12">
            <!--End page title-->
            <table
              id="basic-datatable"
              class="table table-bordered border border-style mb-2 dt-responsive nowrap w-100 content-table"
            >
              <thead>
                <tr>
                  <th
                    width="20%"
                    style="text-align: center; vertical-align: middle"
                  >
                    {{ getLabel("dateCol") }}
                  </th>
                  <th
                    width="15%"
                    style="text-align: center; vertical-align: middle"
                  >
                    {{ getLabel("timeCol") }}
                  </th>
                  <th style="text-align: center; vertical-align: middle">
                    {{ getLabel("descriptionCol") }}
                  </th>
                  <!-- <th width="15%">{{ getLabel("locationCol") }}</th> -->
                  <th
                    width="8%"
                    style="text-align: center; vertical-align: middle"
                  >
                    Thao Tác
                  </th>
                  <th
                    width="3%"
                    style="text-align: center; vertical-align: middle"
                  >
                    <input
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Chọn để đánh dấu tất cả hoặc hủy tất cả"
                      type="checkbox"
                      [(ngModel)]="masterSelectedApproved"
                      (change)="
                        selectAll(masterSelectedApproved, EventNotApproved)
                      "
                    />
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="" *ngFor="let item of EventComments">
                  <td
                    class="col-ngay"
                    [ngStyle]="{
                      backgroundColor: checkToday(item.ngay)
                    }"
                  >
                    <span class="col_ngay_content">
                      {{ getDate(item.ngay) }} <br />({{
                        item.ngay | slice : 0 : 10 | date : "dd/MM"
                      }})
                      <span style="color: #88a7fe; font-style: italic"
                        >({{ EventComments.length }})</span
                      >
                    </span>
                  </td>
                  <td
                    class="col-ngay"
                    style="vertical-align: middle"
                    [ngStyle]="{
                      backgroundColor: checkToday(item.ngay)
                    }"
                  >
                    <span class="col_tg">{{
                      !EventComments ? "" : (item.tgbatdau | slice : 11 : 16)
                    }}</span>
                    -
                    <span class="col_tg">
                      {{
                        !EventComments ? "" : (item.tgbatdau | slice : 11 : 16)
                      }}
                    </span>
                  </td>
                  <td
                    [ngStyle]="{
                      backgroundColor: checkToday(item.ngay)
                    }"
                  >
                    <div
                      class="col_nd"
                      [ngStyle]="{
                        'text-decoration': checkhuy(
                          EventComments ? EventComments.huy : ''
                        )
                      }"
                      style="vertical-align: middle"
                    >
                      {{ EventComments ? item.noidung : "" }}
                    </div>
                    <div
                      [ngStyle]="{
                        'text-decoration': checkhuy(
                          EventComments ? EventComments.huy : ''
                        )
                      }"
                    >
                      <span class="col_lable_title">Chủ trì: </span>
                      <span class="col_nd_content">{{
                        EventComments ? item.chutri : ""
                      }}</span>
                    </div>
                    <div *ngIf="EventComments && EventComments.chuanbi">
                      <span class="col_lable_title">Chuẩn bị: </span>
                      <span class="col_nd_content">{{
                        EventComments ? item.chuanbi : ""
                      }}</span>
                    </div>
                    <div
                      *ngIf="EventComments && item.thanhphan"
                      [ngStyle]="{
                        'text-decoration': checkhuy(
                          EventComments ? item.huy : ''
                        )
                      }"
                    >
                      <span class="col_lable_title">Thành Phần: </span>
                      <span class="col_nd_content">{{
                        EventComments ? item.thanhphan : ""
                      }}</span>
                    </div>
                    <div
                      *ngIf="EventComments ? item.diadiem : true"
                      [ngStyle]="{
                        'text-decoration': checkhuy(
                          EventComments ? item.huy : ''
                        )
                      }"
                    >
                      <span class="col_lable_title">Địa Điểm: </span>
                      <span class="col_nd_content" style="font-weight: bold">{{
                        EventComments ? item.diadiem : ""
                      }}</span>
                    </div>
                    <div>
                      <span class="col_lable_title">Danh sách liên quan: </span>
                      <span
                        style="cursor: pointer; font-size: 20px"
                        class="col_nd_content"
                        (click)="showDSLQ(item.dsLienQuan)"
                        ><i
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Danh sách liên quan"
                          class="fa-regular fa-hand-point-right"
                        ></i
                      ></span>
                    </div>

                    <div *ngIf="EventComments && item.pheduyet == '1'">
                      <span class="col_lable"
                        >(<i
                          style="color: green"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Người Duyệt"
                          class="fa-solid fa-user-check"
                        ></i>
                        <span style="color: #85888d">
                          {{ EventComments ? item.tennguoipheduyet : "" }},
                          {{
                            layThoiGianChenhLech(
                              EventComments ? item.ngaypheduyet : ""
                            )
                          }}
                          , lúc
                          {{
                            !EventComments
                              ? ""
                              : (item.ngaypheduyet | slice : 11 : 16)
                          }}
                        </span>
                        )
                      </span>
                    </div>
                    <div *ngIf="EventComments">
                      <span class="col_lable"
                        >(<i
                          style="color: green"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Người Đăng Ký"
                          class="fa-solid fa-user-plus"
                        ></i
                        ><span style="color: #85888d"
                          >{{ EventComments ? item.tennguoidangky : "" }},
                          {{
                            layThoiGianChenhLech(
                              EventComments ? item.ngaytao : ""
                            )
                          }}
                          , lúc
                          {{
                            !EventComments
                              ? ""
                              : (item.ngaytao | slice : 11 : 16)
                          }}
                        </span>

                        )
                        <span
                          [routerLink]="[
                            '/event/event-list/LoadComment-event/',
                            EventComments ? EventComments[0].lichtuanid : ''
                          ]"
                          style="cursor: pointer"
                          title="Xem phản hồi"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                        >
                          <i
                            style="font-size: 18px"
                            class="fa-solid fa-comment"
                          ></i
                          ><span style="font-weight: bold; color: red">
                            ({{
                              EventComments ? EventComments[0].soComment : 0
                            }})</span
                          >
                        </span>
                      </span>
                    </div>
                    <br />
                  </td>
                  <td
                    style="vertical-align: middle; text-align: center"
                    [ngStyle]="{
                      backgroundColor: checkToday(item.ngay)
                    }"
                  >
                    <div
                      class="align-eventcommentss-center"
                      *ngIf="EventComments && EventComments[0].pheduyet == '0'"
                    >
                      <div
                        style="cursor: pointer; font-size: 20px"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Duyệt"
                        (click)="Approved(EventComments[0].lichtuanid)"
                      >
                        <i class="fa-sharp fa-solid fa-square-check"></i>
                      </div>
                    </div>
                    <div class="align-eventcommentss-center">
                      <div
                        [routerLink]="[
                          '/event/event-list/update-event/',
                          EventComments ? EventComments[0].lichtuanid : ''
                        ]"
                        style="cursor: pointer; font-size: 20px"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Sửa"
                      >
                        <i class="fa-solid fa-pen-to-square"></i>
                      </div>
                    </div>
                    <div class="align-eventcommentss-center">
                      <div
                        style="cursor: pointer; font-size: 20px"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Xóa"
                        (click)="deleteEvent(EventComments[0].lichtuanid)"
                      >
                        <i class="fa-sharp fa-solid fa-trash"></i>
                      </div>
                    </div>
                    <div
                      class="align-eventcommentss-center"
                      *ngIf="EventComments && EventComments[0].pheduyet == '1'"
                    >
                      <div
                        style="cursor: pointer; font-size: 20px"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Hủy"
                        (click)="CancelEvent(EventComments[0].lichtuanid)"
                      >
                        <i class="fa-sharp fa-solid fa-ban"></i>
                      </div>
                    </div>
                    <div
                      class="align-eventcommentss-center"
                      *ngIf="EventComments && EventComments[0].pheduyet == '1'"
                    >
                      <div
                        style="cursor: pointer; font-size: 20px"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Chuyển thành lịch cá nhân"
                        [routerLink]="[
                          '/personal/new-event/',
                          EventComments[0].lichtuanid
                        ]"
                      >
                        <i class="fa-regular fa-calendar-days"></i>
                      </div>
                    </div>
                    <div
                      class="align-eventcommentss-center"
                      *ngIf="EventComments && EventComments[0].pheduyet == '1'"
                    >
                      <div
                        style="cursor: pointer; font-size: 20px"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Chuyển thành công việc"
                      >
                        <i class="fa-sharp fa-solid fa-briefcase"></i>
                      </div>
                    </div>
                  </td>
                  <td
                    [ngStyle]="{
                      backgroundColor: checkToday(item.ngay)
                    }"
                  >
                    <input
                      class="cusor"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Chọn để đánh dấu"
                      type="checkbox"
                      [(ngModel)]="
                        EventComments ? EventComments.status : spinnerLoading
                      "
                      (change)="
                        onChangeChecked(
                          EventComments.status,
                          EventComments.lichtuanid
                        )
                      "
                    />
                  </td>
                </tr>
                <!-- /.modal -->
              </tbody>
            </table>
            <!-- /////////////////// Pagination -->
          </div>
          <div class="col-xl-3 col-md-12">
            <div class="list-group">
              <button
                type="button"
                class="btn rounded mb-1"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('newBtn')"
                style="cursor: pointer; background-color: #395bb2"
                img
                (click)="openNewEvent()"
              >
                <span style="color: white">Thêm mới lịch tuần</span>
              </button>
              <button
                type="button"
                (click)="ApprovedMultiple()"
                class="btn rounded mb-1"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('apBtn')"
                style="cursor: pointer; background-color: #395bb2"
              >
                <span style="color: white">Phê Duyệt</span>
              </button>
              <button
                type="button"
                class="btn rounded mb-1"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('canBtn')"
                (click)="CancelEvent(EventComments[0].lichtuanid)"
                style="cursor: pointer; background-color: #395bb2"
              >
                <span style="color: white">Hủy</span>
              </button>
              <button
                type="submit"
                name="ctl22$DANHMUC$ctl02$btnDel"
                value="Xóa"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('deBtn')"
                class="btn rounded mb-1"
                (click)="deleteEvent(EventComments[0].lichtuanid)"
                style="cursor: pointer; background-color: #395bb2"
              >
                <span style="color: white">Xóa</span>
              </button>
              <button
                type="button"
                class="btn rounded mb-1"
                style="cursor: pointer; background-color: #395bb2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                [title]="getLabel('printBtn')"
                (click)="exPortExcel()"
              >
                <span style="color: white">In Lịch</span>
              </button>
            </div>

            <!-- <app-calendar
        [eventList]="events"
        (getEvents)="getEvents($event)"
      ></app-calendar> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h6 style="padding: 10px; background-color: #2185c5; color: white">
              <h5 style="padding-left: 10px">
                Xem Phải Hồi<span style="color: #d1f318; font-style: italic">
                  ({{ commentList ? commentList.length : 0 }})</span
                >
              </h5>
            </h6>
          </div>
          <div class="col-xl-9 col-md-12">
            <div class="card mt-3 rounded">
              <div class="card-body">
                <h4 class="card-title">Phản hồi</h4>
                <div class="row">
                  <div
                    class="d-flex align-items-start"
                    *ngFor="let i of commentList"
                  >
                    <app-avatar-tooltip
                      [fullname]="i.tenNguoiTao"
                      [size]="'sm'"
                    >
                    </app-avatar-tooltip>
                    <div class="ms-2 mb-3">
                      <div class="d-flex align-items-center">
                        <h5>{{ i.tenNguoiTao }}</h5>
                        <i class="ms-1">
                          {{ layThoiGianChenhLech(i.ngayTao) }}, lúc
                          {{ i.ngayTao | slice : 11 : 16 }}, ngày
                          {{ i.ngayTao | date : "dd-MM-YYYY" }}
                        </i>
                        <div style="margin-left: 10px">
                          <i
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Trả lời phản hồi"
                            style="cursor: pointer"
                            (click)="
                              repComment(i.idComment, i.noiDung, i.tenNguoiTao)
                            "
                            class="fa-solid fa-reply"
                          ></i>
                        </div>
                      </div>

                      <div [innerHTML]="i.noiDung"></div>
                    </div>
                  </div>
                </div>
                <!-- <div
                  *ngIf="repC.nguoi && repC.noidung"
                  style="
                    border: 1px solid black;
                    background-color: #edb6d7;
                    color: black;
                    padding: 10px;
                    border-radius: 15px;
                  "
                >
                  <i
                    (click)="exitRepComment()"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Thoát trả lời phản hồi"
                    style="float: right; cursor: pointer"
                    class="fa-sharp fa-solid fa-circle-xmark"
                  ></i>

                  <div>
                    Đang trả lời
                    <span style="font-weight: bold">{{ repC.nguoi }}</span>
                  </div>
                </div> -->

                <div
                  *ngIf="repC.nguoi && repC.noidung"
                  style="
                    width: 90%;
                    background-color: #838ca7;
                    border-radius: 15px;
                  "
                >
                  <div>
                    <div class="chat-messages">
                      <div class="message-box-holder">
                        <div style="margin-bottom: 10px; color: white">
                          Đang trả lời
                          <span style="font-weight: bold">{{
                            repC.nguoi
                          }}</span>
                          <i
                            (click)="exitRepComment()"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Thoát trả lời phản hồi"
                            style="float: right; cursor: pointer"
                            class="fa-sharp fa-solid fa-circle-xmark"
                          ></i>
                        </div>
                        <div class="message-box">{{ repC.noidung }}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <angular-editor
                    [config]="editorConfig"
                    [(ngModel)]="comment.noidung"
                  ></angular-editor>
                  <div class="d-flex justify-content-end mt-1">
                    <button
                      type="button"
                      class="btn btn-success"
                      (click)="addAComment()"
                    >
                      <i class="uil-message"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-xl-3 col-md-12"
            style="border: solid 1px rgb(230, 229, 229)"
          >
            <h6
              style="
                padding: 10px;
                background-color: #2185c5;
                color: white;
                text-align: center;
              "
            >
              <span style="padding-left: 10px"> Người liên quan</span>
            </h6>
            <div
              *ngFor="let i of EventComments ? EventComments[0].dsLienQuan : []"
              style="text-align: center"
            >
              <span style="font-size: 14; font-weight: bold">{{
                i.hoTen
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
