<div class="container-fluid">
  <ngx-loading
    [show]="spinnerLoading"
    [config]="{
      primaryColour: 'whitesmoke',
      backdropBorderRadius: '3px',
      fullScreenBackdrop: true
    }"
  ></ngx-loading>
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a routerLink="/personal/event">Lịch Cá Nhân</a>
            </li>
            <li class="breadcrumb-item">Thêm Lịch Cá Nhân</li>
          </ol>
        </div>
        <h4 class="page-title">Thêm Lịch Cá Nhân</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <aw-wizard>
            <aw-wizard-step stepTitle="1. Nhập thông tin lịch">
              <div class="container">
                <div class="row">
                  <div class="mb-3 col-lg-6 col-sm-12 row">
                    <label for="simpleinput" class="form-label ipt"
                      >Bắt đầu:</label
                    >
                    <div class="col-lg-6 col-sm-12">
                      <input
                        [(ngModel)]="dateStart"
                        class="form-control"
                        type="date"
                      />
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <input
                        class="form-control col"
                        [(ngModel)]="hourStart"
                        type="time"
                      />
                    </div>
                  </div>
                  <div class="mb-3 col-lg-6 col-sm-12 row">
                    <label for="simpleinput" class="form-label ipt"
                      >Kết thúc:</label
                    >
                    <div class="col-lg-6 col-sm-12">
                      <input
                        [(ngModel)]="dateEnd"
                        class="form-control"
                        type="date"
                      />
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <input
                        [(ngModel)]="hourEnd"
                        class="form-control col"
                        type="time"
                      />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label ipt"
                      >Nội dung:</label
                    >
                    <textarea
                      [(ngModel)]="newUserEvent.noidung"
                      class="form-control"
                      id="example-textarea"
                      rows="5"
                    ></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="example-textarea" class="form-label"
                      >Địa điểm: <span class="required_input">(*)</span></label
                    >
                    <select
                      class="form-select"
                      id="example-select"
                      #diadiem
                      (change)="changeDiaDiem(diadiem.value)"
                    >
                      <option selected value="">Địa Điểm Khác</option>
                      <option
                        *ngFor="let item of locationListAll"
                        [value]="item.moTa"
                        [selected]="
                          (eventTuan ? eventTuan.diadiem : '') ==
                          item.tenDiaDiem
                        "
                      >
                        {{ item.tenDiaDiem }} - {{ item.moTa }}
                      </option>
                    </select>
                    <input
                      *ngIf="!checkInput"
                      type="text"
                      class="form-control"
                      [(ngModel)]="inputDiaDiem"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="example-fileinput" class="form-label"
                      >Thêm file:</label
                    >
                    <app-dropzone></app-dropzone>
                  </div>
                </div>
              </div>
              <div class="btn_list">
                <button type="button" (click)="check()" class="btn btn-primary">
                  Bước Tiếp Theo
                </button>
              </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="2.Chia sẻ">
              <div class="card">
                <div class="card-body">
                  <div style="margin: 0 10px 30px 30px">
                    <label class="form-label" for="groupOfAssignee">
                      Lựa chọn danh sách từ:
                    </label>

                    <select
                      style="width: 50%"
                      [(ngModel)]="groupKeyChosenInStep2"
                      class="form-select"
                      id="groupOfAssignee"
                      (change)="onChange($event.target.value)"
                    >
                      <option value="all" selected>Tất cả nhân viên</option>
                      <option
                        *ngFor="let groupKey of generalService.allUserGroupsKey"
                        value="{{ groupKey }}"
                      >
                        {{ groupKey }}
                      </option>
                    </select>
                  </div>

                  <app-dual-list
                    (updateLists)="dualListUpdateForAssignee($event)"
                    [leftList]="allUserInStep2List"
                    [rightList]="chosenAssigneelList"
                  ></app-dual-list>
                  <!-- <div style="margin: 0 10px 30px 30px">
                  <label class="form-label" for="majorAssignee"
                    ><span style="color: tomato">(*)</span> Người Xử lý Chính:
                  </label>
                  <select
                    style="width: 50%"
                    [(ngModel)]="majorAssignee"
                    class="form-select"
                    id="majorAssignee"
                  >
                    <option selected>Chọn...</option>
                    <option
                      [ngValue]="assignee"
                      *ngFor="let assignee of chosenAssigneelList"
                    >
                      {{ assignee.fullName }}
                    </option>
                  </select>
                </div> -->
                </div>
              </div>
              <div class="btn_list">
                <button
                  type="button"
                  class="btn btn-warning"
                  awPreviousStep
                  (click)="resetDs()"
                >
                  Quay Lại
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="AddEvent()"
                >
                  Thêm Lịch
                </button>
              </div>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>
