<div class="container-fluid">
    <div class="list-group-item active mb-2"> <b>CHỈNH SỬA PHÒNG BAN/NHÓM/ĐƠN VI</b> </div>
    <div class="row">
        <div class="col-9 ">
            <table class="table table-centered" >
                <div class="col-8">
                    <div class="mb-2 row">
                        <div class="col-3">
                            <label for="simpleinput" class="form-label"> Tên(*) :</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="simpleinput"  class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mb-2 row">
                        <div class="col-3">
                            <label for="simpleinput" class="form-label"> Tên viết tắt :</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="simpleinput" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mb-2 row">
                        <div class="col-3">
                            <label for="simpleinput" class="form-label"> STT :</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="simpleinput" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mb-2 row">
                        <div class="col-3">
                            <label for="simpleinput" class="form-label"> Đơn vị cấp 2 :</label>
                        </div>
                        <div class="col-8">
                            <input type="checkbox" class="form-check-input" id="customCheck1">
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mb-2 row">
                        <div class="col-3">
                            <label for="simpleinput" class="form-label"> Đơn vị cấp trên :</label>
                        </div>
                        <div class="col-8">
                            <input type="text" id="simpleinput" class="form-control">
                        </div>
                    </div>
                </div>
            </table>
        </div>
        <div>
            <button [routerLink]="'/admin/the-group-user'" class="btn btn-danger">Quay lại</button>
        </div>
    </div>
</div>              
